<br>
<meta charset="utf-8">
  <div style="background-color:white; padding:15px; ">
    <br>
    <fieldset style="color:#6a89b9;border-width:0.5px; border-color:#9fc5f8;">
      <legend style="color:#6a89b9;"><b style="color:#b626c3;">ALERTE DOUBLE GARANTIE</b></legend><td>
      <div style="background-color:white;text-align:left;">
        <p><h4>Cher(e) Mxxxxxxxxx <b style="color:#b626c3;">XXXXXXXX ,</b><br>
        <br>Vous êtes sur le point de souscrire un contrat d’Assurance XXXXXXX, alors que <b style="color:#b626c3;">vous êtes déjà assuré.</b>
        La loi ne vous interdit pas de le faire, mais sachez que vous devez respecter une procédure régie par le<br><br> code des assurances si vous
        souhaitez quand même souscrire ce contrat. En effet, vous devez prévenir votre nouvel assureur que vous êtes déjà assuré.<br><br> Si vous
        êtes d’accord, <a href="brokins.fr"  style="color:#b626c3;">Brokins.fr</a> peut le faire pour vous.
        Nous nous permettons de vous afficher ci-dessous ce que disent les textes.</h4>
        <br><br>
      </div>
      <div style="background-color:white;">
        <p>************************************************************************************************************************************************************</p>
      </div>
      <div style="text-align:center;">
      <img  src="assets/images/Capture28.png" alt="HTML tutorial">
      </div>
        <div>
        <p>************************************************************************************************************************************************************</p>
      </div>
      <div style="text-align: center;">
      <a href=""><img  src="assets/images/Capture29.png"></a>
      <a href="paiement"><img  src="assets/images/Capture30.png"></a>
      </div>
    </fieldset>
  </div>
  <br>
  <div style="text-align:left;">
      <a href=""><img  src="assets/images/retourdevis.png"></a>
  </div>

