<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta charset="utf-8">
<base href="./Accueil.component.html">
<div style="text-align:left; background-color:#95a7cb;">
  <a routerLink="/" ><img width="127" height="32" src="assets/images/boutonretour.png" /></a>
</div>
<br>
<div style="background-color:white;padding:5px;" class="boxed"  >
  <p style="margin-left:10px;">
    <label class="stylemove" style=" font-size:17px;">Avec Brokins, vous êtes assuré immédiatement et sans papier à stocker grâce à la signature électronique :</label><br><br>
    <label class="stylebleu">Vous aurez à signer plusieurs documents grâce à un seul code SMS </label>
  </p>
</div>

<br>

<div style="background-color:white; padding:15px;">
  <fieldset >
    <legend class="stylemove" style=" font-size:17px;">LISTE  DES DOCUMENTS A SIGNER</legend>
    <div  style="">
      <label class="stylebleu">Plusieurs documents sont affichés ci-dessous, mais vous n'en signerez que 2  et en une seule fois avec un code SMS :</label>
      <ul style="">
        <li><label class="stylebleu">Contrat d'assurance</label></li>
        <li><label class="stylebleu">Mandat SEPA</label></li>
      </ul>
      <p>
        <label class="stylebleu">Brokins a choisi <a style="color:#b626c3;font-size:15px;"href="http://www.yousign.fr"> YouSign</a>, société française, fournissant la technologie de signature électronique légale et membre du Conseil
          national des tiers de confiance,pour faciliter la signature de vos documents contractuels .</label><br><br>
        <label class="stylebleu">Merci de lire et vérifier le document affiché ci-dessous, il s'agit de votre contrat.
          En bas de page se trouve un bouton <label class="stylemove" style="font-size:15px;">Validez et Signez vos documents.</label> </label>
      </p>
    </div>
  </fieldset>
</div>
<div style="background-color:white; padding:15px;text-align:center;">
  <fieldset >
    <legend class="stylemove" style=" font-size:17px;">SIGNATURE</legend>
   <img  src="assets/images/Signature.png" alt="HTML tutorial" style="">
  </fieldset>
</div>



<div style="background-color:white; padding:15px;">
  <fieldset >
    <legend class="stylemove" style=" font-size:17px;">PAIEMENT DE LA PREMIERE PRIME </legend>
    <div style="background-color:white;">
      <p>
        <label class="stylebleu">Il ne vous reste plus qu' à payer votre première cotisation d'assurance pour pouvoir être assuré dès aujourd'hui.<br>
          <br>Vous avez le choix de payer votre première cotisation de</label> <label style="color:#666666;">xxxxx</label><label class="stylebleu">€ TTC  pour une écheance au <input    name="anniversaire"  type="date" id="nom"/>
        <img width="24" height="24"  style="" src="assets/images/calendar.png" >par :</label>
      </p>
      <ul style="">
        <li><p> <label class="stylebleu">Prélèvement</label><img style="" width="24" height="24" src="assets/images/Sepa-logo.png" alt="HTML tutorial"></p></li>
        <li><p> <label class="stylebleu">Carte Bancaire</label><img style="" width="24" height="24" src="assets/images/PP-Acceptance-Marks-for-LogoCenter-266x142.png" alt="HTML tutorial"></p></li>
        <li><p> <label class="stylebleu">Chèque</label><img style="" width="24" height="24" src="assets/images/carnet-de-cheque_Rose.jpg" alt="HTML tutorial"></p></li>
        <li><p> <label class="stylebleu">Virement</label><img style="" width="24" height="24" src="assets/images/virement.png" alt="HTML tutorial"></p></li>
      </ul>
      <br>
      <div  style="text-align:left;">
        <label class="stylebleu">Merci de choisir votre mode de paiement :</label><br><br>
        <label class="container" style="">Je souhaite payer intégralement ma cotisation annuelle
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Je souhaite payer en 2 fois (tous les 6 mois)
          <input type="checkbox" >
          <span class="checkmark"></span>
        </label>
        <label class="container">Je souhaite payer en 4 fois (tous les 3 mois)
          <input type="checkbox" >
          <span class="checkmark"></span>
        </label>
        <label class="container">Je souhaite payer tous les mois (sauf chèque payable en 3 fois)
          <input type="checkbox" >
          <span class="checkmark"></span>
        </label>
      </div>
      <br>

      <div style="">
        <label class="stylebleu" style="font-size:15px;text-align:left;">
          Payez vos prochaines cotisations (annuelles, semestrielles, mensuelles) directement par prélèvement automatique et de manière
          sécurisée. Pour cela,  vous devez saisir vos coordonnées bancaires présentes sur votre RIB. Si vous ne voulez pas de prélèvement
          rautomatique, vous pouvez également envoyer un chèque régulièrement à l'assureur, ou bien payer régulièrement en ligne depuis
          votre espace client Brokins.fr ou depuis l'espace client de votre assureur, ou bien payer par téléphone en appelant votre assureur.
        </label>
        <br>
      </div>
      <div style="">
        <table style="width:50%;" border=0>

          <tr >
            <td><label class="stylebleu">BIC : <b style="color:#b626c3;">*</b></label></td>
            <td style="">  <input style="width:100%;" > </td>
            <td><img width="24" height="24" style="" src="assets/images/Cadenas.jpg" alt="HTML tutorial"></td>
          </tr>
          <tr>
            <td><label class="stylebleu">Numéro IBAN : <b style="color:#b626c3;;">*</b></label> </td>
            <td style="">  <input style="width:100%;" ></td>
            <td><img width="24" height="24" style="" src="assets/images/Cadenas.jpg" alt="HTML tutorial"></td>
          </tr>
          <tr>
            <td><label class="stylebleu">Domiciliation Bancaire : <b style="color:#b626c3;">*</b></label> </td>
            <td style=""><select style="width:100%;">
              <option value="volvo">Test1</option>
              <option value="saab">Test2</option>
              <option value="opel">Test3</option>
              <option value="audi">Test4</option>
            </select></td>

          </tr>
          <tr>
            <td><label class="stylebleu">Titulaire du Compte : <b style="color:#b626c3;">*</b></label> </td>
            <td style=""> <input style="width:100%;" > </td>
          </tr>
        </table>
      </div>

    </div>
    <HR align=center size=1 width="90%">

    <HR align=center size=1 width="90%">
    <br>
    <div style="color:#6a89b9;border:0px;margin-left:20%">
      <table style="width:80%; border:collapse;margin-top: 0px;
			margin-bottom: 0px;
			line-height: 5px;" align=center cellpadding=0 align="left" border=0 cellspacing=0>
        <tr >
          <td>
            <label class="container"><img width="100" height="40" src="assets/images/Capture18.png" alt="HTML tutorial" style="">
              <input type="checkbox" checked>
              <span class="checkmark"></span>
            </label>
          </td>
          <td>
            <label class="container"><img width="127" height="40" src="assets/images/Bancaire.jpg" alt="HTML tutorial" style="">
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label>
          </td>
          <td>
            <label class="container"><img width="127" height="40" src="assets/images/virement.png" alt="HTML tutorial" style="">
              <input type="checkbox" >
              <span class="checkmark"></span>
            </label>
          </td>
        </tr>
      </table>
    </div>
      <br><br>
      <div style="">
        <br>
        <label class="stylemove">Une fois que vous aurez saisi votre carte bancaire, vous serez assuré et recevrez par mail votre attestation d'assurance. </label>
        <br><br><label class="stylebleu">Le montant que vous devez payer s'élève à : xxx.xx € TTC</label>
        <p><label class="stylebleu">Brokins n'encaisse aucun fond, le paiement va directement dans le compte de l'assureur du produit que vous avez choisi.
          Le paiement est sécurisé par </label><a href="http://www.lemonway.fr" style="color:#b626c3;">lemonway.</a></p>
      </div><br>
        <div style="text-align: center;">
        <label class="stylemove" style="font-size:17px;">  IMPORTANT : Vous avez jusqu'à 15 jours pour demander un remboursement intégral auprès de l'assureur.</label>
        <br><br>
        <img src="assets/images/Signature.png" >
        </div>


      <a  routerLink="/souscription" style="align:right"><img align="right"  width="127" height="32" src="assets/images/Terminer.png" height="50" width="162"  /></a>
  </fieldset>
</div>
