<div style="background-color:white;margin-left:45px; border-width:0px;" class="boxed">
    <br>
    <p class="stylebleu" style="margin-top:4px; margin-left:10px;font-size:17px;"> <b>Brokins vient de vous envoyer votre devis par mail, il est valable 1 mois à compter d'aujourd'hui : </b> </p>
    <p class="stylemove" style="margin-left:10px;font-size:17px;">Vous pouvez également télécharger tous les documents contractuels et les lire pour souscrire (signez/payez) plus tard</p>
    <br>
</div>
<br>
<form style="margin-left:45px">
    <div>
        <div style="background-color:white; padding: 10px;">

            <br>
            <fieldset style="border-width:0.5px;border-color:#9fc5f8 ">
                <legend style="color:#b626c3;">RECAPITTULATIF DE VOTRE DEVIS</legend>
                <p class="stylebleu">M -onsieur- -XXXXXXXX-, vous avez décidé d'assurer votre entreprise -XXXXXXXXX- au titre de l'Assurance -XXXXX-
                    pour un montant de prime annuel de -XXXXX-€ auprès de l'assureur -XXXXXX-. Vous trouverez donc ci-dessous
                    tous les documents contractuels que nous avons générés pour vous afin que vous puissiez en prendre connaissance.
                    </p>

                <p class="stylebleu">Votre activité est : -xxxxxxxxxxxxxxxxxxxxxxxxxxx-, mais vous avez également pour activités secondaires :</p>
                <br>
                <div>
                    <HR align=center size=1 width="90%">

                    <HR align=center size=1 width="90%">
                </div>
                
                <p class="stylemove"><img width="24" height="24" src="assets/images/traiangle_exclamation.png">Il est rappelé que l'inexactitude
                    de vos déclarations (cf. ci-dessus) entraîne l'application des sanctions prévues par le Code des Assurances
                    aux articles L113-8 (nullité du contrat) ou L113-9 (réduction des indemnités) </p>
                <div>
                    <HR align=center size=1 width="90%">

                    <HR align=center size=1 width="90%">
                </div>
                <br><br>
                <p class="stylebleu">
                    <u><b>Détail des garanties</b></u>
                </p><br>
                <p class="stylebleu"> Garantie 1 : xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx* </p>
                <p class="stylebleu"> Garantie 2 : xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*</p>
                <p class="stylebleu"> Garantie 3 : xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*</p>

                <br>
                <br>
                <div align="center">
                    <a action="" align="center"><img width="200" height="62" src="assets/images/boutonDevisPJ.png" /></a><br>
<a action=""  align="center"><img width="200" height="62" src="assets/images/boutonCGPJ.png" /></a><br>
<a action=""  align="center"><img width="200" height="62" src="assets/images/boutonimprimez.png" /></a><br>
</div>
<br>
<p  class="stylebleu">Vous avez pris connaissance des documents contractuels ci-dessus, à savoir le devis<b class="stylemove"> XXXXXXXXXXXXXXXXXXXXX</b> ainsi que les conditions générales<b class="stylemove"> XXXXXXXXXXXXXXXXXXXXXXX</b> </p>
<p class="stylebleu" >Vous souhaitez passer à l'écran suivant pour souscrire le contrat de notre fournisseur?</p>
<p class="stylebleu" >Il vous suffit pour cela de cocher la case suivante et cliquer sur le bouton <b style="color:#b626c3;">Souscrivez ce Contrat.</b></p>

</fieldset>
</div>
<table style="width:100%" id="cssTable" >
  <tr>
    <td style="width:85%">
	<label class="container" style="font-size:17px;margin-top:5px; color:white;"><b>Je reconnais avoir pris connaissance des documents de devis et de conditions générales listés ci-dessus, en ce compris les exclusions</b>
<input type="checkbox" checked="checked" style="margin-top:10px;position:absolute;">
<span class="checkmark"></span>
</label>  

	</td>
	<br><br>
    <td style="width:85%" align="center">
		<a action=""  ><img width="127" height="32" style="margin-left:80px;" src="assets/images/boutonrecevezlestarifs.png" /></a>
                    </td>
                    </tr>
                    </table>
                </div>
</form>