<div style="background-color:white;margin-left:45px; border-width:0px;" class="boxed">
    <br>
    <p class="stylebleu" style="margin-top:4px; margin-left:10px;font-size:17px;"> <b>BROKINS a besoin des données vous concernant pour vous proposer le devis de l'assureur que vous avez choisi :</b>        </p>
    <p class="stylemove" style="margin-left:10px;font-size:17px;">Pour finaliser votre besoin, des vérifications simples vous sont demandées</p>
    <br>
</div>
<br>
<form style="margin-left:45px">
    <div style="background-color:white; padding: 10px;">
        <br>
        <fieldset>
            <legend class="stylemove">INFORMATIONS SUR VOUS</legend>
            <p class="stylemove" style="text-align:center;">IMPORTANT : Vos données sont protégées et ne seront pas communiquées à des tiers</p>

            <table style="width:100%; " id="cssTable">
                
                <tr>
                    <td width="10%">
                        <p class="stylebleu"><b>Civilité :</b><b class="stylemove">*</b></p>
                    </td>
                    <td width="5%">
                    </td>
                    <td width="20%">
                        <input type="text" style="margin-left:80px;" name="civilite">
                    </td>
                    <td width="5%">
                    </td>
                    <td width="10%">
                        <p class="stylebleu"><b>Adresse Email:</b><b class="stylemove">*</b></p>
                    </td>
                    <td width="5%">
                    </td>
                    <td width="20%">
                        <input type="text" name="email">
                    </td>

                </tr>
                <tr>
                    <td>
                        <p class="stylebleu"><b>Nom :</b><b class="stylemove">*</b></p>
                    </td>
                    <td>
                    </td>
                    <td>
                        <input type="text" style="margin-left:80px;" name="nom">
                    </td>
                    <td>
                    </td>
                    <td>
                        <p class="stylebleu"><b>Téléphone Mobile :</b><b class="stylemove">*</b></p>
                    </td>
                    <td>
                    </td>
                    <td>
                        <input type="text" name="telephone">
                    </td>

                </tr>
                <tr>
                    <td>
                        <p class="stylebleu"><b>Prenom :</b><b class="stylemove">*</b></p>
                    </td>
                    <td>
                    </td>
                    <td>
                        <input type="text" style="margin-left:80px;" name="prenom">
                    </td>

                </tr>
                <tr>
                    <td>
                        <p class="stylebleu"><b>Fonction :</b><b class="stylemove">*</b></p>
                    </td>
                    <td>
                    </td>
                    <td>
                        <input type="text" style="margin-left:80px;" name="fonction">
                    </td>

                </tr>
            </table>
        </fieldset>

    </div>

    <br>


    <div style="background-color:white; padding: 10px;">
        <br>
        <fieldset>
            <legend class="stylemove">INFORMATION SUR VOTRE ENTREPRISE</legend>

            <table style="width:101%" id="cssTable">

                <tr>
                    <td>
                        <p class="stylebleu"><b>Nom Entreprise :</b><b class="stylemove">*</b></p>
                    </td>
                    <td>
                        <input type="text" style="margin-left:0px;" name="nomentreprise">
                    </td>
                    <td>
                    </td>
                    <td>
                        <p class="stylebleu"><b>SIRET :</b></p>
                    </td>
                    <td>
                        <input type="text" name="siret">
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="stylebleu"><b>Adresse :</b><b class="stylemove">*</b></p>
                    </td>
                    <td>
                        <input type="text" style="margin-left:0px;" name="adresseentreprise" placeholder="">
                    </td>
                    <td>
                    </td>
                    <td>
                        <p class="stylebleu"><b>Code APE :</b></p>
                    </td>
                    <td>
                        <input type="text" name="codeape" placeholder="">
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="stylebleu"><b>Complément Adresse :</b></p>
                    </td>
                    <td>

                        <input type="text" name="complementadresse" style="margin-right:20px;" placeholder="">
                    </td>
                    <td>
                    </td>
                    <td>
                        <p class="stylebleu"><b>Code Postal :</b><b class="stylemove">*</b></p>
                    </td>
                    <td>
                        <input type="text" name="codepostal" placeholder="">
                    </td>
                    <td>
                    </td>
                </tr>

            </table>
        </fieldset>
    </div>
    <br>
    <div style="background-color:white; padding: 10px;">
        <br>
        <fieldset>
            <legend class="stylemove">VALIDATION DE QUELQUES INFORMATIONS UTILES POUR L'ASSUREUR</legend>
            <p class="stylemove" style="text-align:left;">En fonction des réponses aux questions suivantes, vous pourrez ou non souscrire un produit d'assurance. Par défaut,
                elles sont toutes cochées, ce qui vous permet de continuer la souscription. Si vous décochez une case, il
                se peut qu'aucun assureur ne veuille vous assurer.</p>
            <p class="stylebleu"> <b>Vérification 1*:</b> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*
                <label class="container" style="font-size15px;margin-left:975px;margin-top:-20px;">
<input type="checkbox" checked="checked" />
<span class="checkmark"></span>
</label>


            </p>
            <br>
            <p class="stylebleu"> <b>Vérification 2*:</b> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*
                <label class="container" style="font-size15px;margin-left:975px;margin-top:-20px;" >
<input type="checkbox " checked="checked ">
<span class="checkmark "></span>
</label>


</p>
<br>
	<p class="stylebleu " > <b>Vérification 3* :</b> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx* 
	<label class="container " style="font-size15px;margin-left:975px;margin-top:-20px; ">
<input type="checkbox " checked="checked ">
<span class="checkmark "></span>
</label>





</p>
<br>
	<p class="stylebleu " > <b>Vérification 4* :</b> xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*
	<label class="container " style="font-size15px;margin-left:975px;margin-top:-20px; ">
<input type="checkbox " checked="checked ">
<span class="checkmark "></span>
</label>

</p>
	<br>
	
</fieldset>
</div>
<br>
<div  style="background-color:white; padding: 10px; " >
<br>
<fieldset>
    <legend class="stylemove ">DATE DE DEMARRAGE ET DE RECONDUCTION DE VOTRE CONTRAT</legend>
	<p class="stylemove " style="text-align:left; ">Conseil : Généralement, l'année fiscale de toutes les entreprises démarre le 1er janvier de chaque année. Si c'est également votre cas, fixez votre date de redémarrage au 1er janvier qui suit la date de démarrage, afin de simplifier votre comptabilité</p>
<table style="width:90% " id="cssTable " border=0 >

  <tr>
    <td>
		<p class="stylebleu "><b>Date d'effet (démarrage) du contrat :</b> <b class="stylemove ">*</b></p>
	</td>
    <td >
		<input  type="date "   name="debutcontract " >
	</td>
	<td><img width="24 " height="24 " style="margin-right:10px " src="assets/images/calendar.png " /></td>
	<td>
		<p class="stylebleu "><b>Date échéance (redémarrage annuel) :</b> <b class="stylemove ">*</b> </p>
	</td>
    <td >
		<input type="date "  name="fincontract " >
	</td>
	<td><img width="24 " height="24 " src="assets/images/calendar.png " /></td>	
  </tr>
  
  
 
</table>

<table style="width:100% " id="cssTable " >

  <tr>
    <td style="width:85% ">
		<p class="stylebleu " ><b style="margin-left:340px; font-size:17px; "><img style="position:absolute;width:50px;margin-left:-60px;margin-top:-15px;
                    " src="assets/images/traiangle_exclamation.png
                    ">J'ai déjà un contrat chez un autre assureur et je souhaite le résilier facilement :</b> <b class="stylemove ">*</b> </p>
	</td>
	<td></td>
    <td style="width:15% " align="center ">
		<a href="resiliation" style="margin-left:-1130px; "  ><img width="127 " height="32 " style="margin-top:150px; " src="assets/images/boutonresiliez.png
                    " height="50 " width="162 " /></a>
	</td> 
	<td></td>
  </tr>
  
  
 
</table>
	
</fieldset>
</div>
<div>
<table style="width:100%; text-align:right; " id="cssTable "  >

  <tr>
  <td width="10% " >
		
	</td> 
    <td width="50% ">
		<p style="text-align:right; ">
			<b><label style="color:white;font-size:17px; ">En cliquant sur </label>
			<label class="stylemove ">Validez </label>
			<label style="color:white; ">vous recevrez votre devis automatiquement par email</label></b>
		</p>	

	</td>
    <td width="16% " >
		<a href="devisPJproposition" ><img width="127 " height="32 " src="assets/images/boutonvalidez.png " /></a>
	</td> 
	
	
  </tr>
  
  
 
</table>
	</div>

</form>