
<meta charset="utf-8">
<div style="background-color:white;" class="boxed">
    <br>
    <b><p style="font-family:Lato Bold; font-size:17; font-weight:Regular; color:#b626c3;margin-top:-10px; margin-left:10px;"  >Si vous avez un SIREN, saisissez-le afin que vos données soient automatiquement valorisées, sinon saisissez-les manuellement : </p>
		<p >
		</b>
    <p style="font-family:Lato Bold; font-size:17; font-weight:Regular;margin-top:-10px;margin-top:10px; margin-left:10px; ">
        <b style="color:#94a8cd;">Plus vous êtes précis et plus le prix sera juste</b>

    </p>
    <br>
</div>

<form name="form" (ngSubmit)="obtenirDevisComparatif()" #f="ngForm" novalidate>
    <div>
        <table style="width:100%" id="cssTable" cellpadding=0 border=0>

            <tr>
                <td width="35%">
                    <p class="formtext">Tapez votre SIREN :</p>
                </td>
                <td width="5%"></td>
                <td colspan=2  width="60%">
                    <input style="border:0px;" [value]="siren" name="siren" type="text" name=""  ng-minlength="9" [(ngModel)]="siren" [ngModelOptions]="{standalone: true}" (keyup)="search()" />
                    <label>{{errormsg}}</label>
                </td>
            </tr>
            <tr style="height:10%">
                <td width="35%"></td>
                <td width="5%"></td>
                <td colspan=2 width="60%" style="line-height:8px">
                    <p class="formtext" align="center">OU</p>
                </td>
            </tr>
            <tr>
                <td width="35%">
                    <p class="formtext">Tapez soit votre code APE, soit votre Secteur d’Activité, soit votre Métier : <b style="color:#b626c3;"> *</b></p>
                </td>
                <td width="5%"></td>
                <td colspan=2 width="60%">
                    <input style="border:0px;" type="text" name="ape" placeholder="" [(ngModel)]="formulaire.code_ape" [ngModelOptions]="{standalone: true}">
                </td>
            </tr>
            <tr>
                <td width="35%">
                    <p class="formtext">Tapez votre code postal :<b style="color:#b626c3;"> *</b></p>
                </td>
                <td width="5%"></td>
                <td colspan=2 width="60%">
                    <input style="border:0px;" type="text" name="codepostal" [(ngModel)]="formulaire.code_postal" [ngModelOptions]="{standalone: true}" >
                </td>
            </tr>
            <tr>
                <td width="35%">
                    <p class="formtext">Année de création de la société :<b style="color:#b626c3;"> *</b></p>
                </td>
                <td width="5%"></td>
                <td colspan=2 width="60%">
                    <input style="border:0px;" type="text" name="anneecreation" [(ngModel)]="formulaire.annee_creation" [ngModelOptions]="{standalone: true}">
                </td>
            </tr>
            <tr>
                <td width="35%">
                    <p class="formtext">Séléctionnez votre Forme Juridique :<b style="color:#b626c3;"> *</b></p>
                </td>
                <td width="5%"></td>
                <td colspan=2 width="60%">
                    <input style="border:0px;" type="text" name="formejuridique" [(ngModel)]="formulaire.forme_juridique" [ngModelOptions]="{standalone: true} ">
                </td>
            </tr>
            <tr>
                <td width="35%">
                    <p class="formtext">Sélectionnez CA 2018 :<b style="color:#b626c3;"> *</b></p>
                </td>
                <td width="5%"><a action=""><img width="32" height="32" src="assets/images/cercleinterrogation.png" /></a></td>
                <td colspan=2 width="60%">
                    <input style="border:0px;" type="text" name="ca" [(ngModel)]="formulaire.chiffre_affaire" [ngModelOptions]="{standalone: true}">
                </td>
            </tr>
            <tr>
                <td width="35%">
                    <p class="formtext">Effectifs dans l'entreprise : <b style="color:#b626c3;"> *</b></p>
                </td>
                <td width="5%"><a action=""><img width="32" height="32" src="assets/images/cercleinterrogation.png" /></a></td>
                <td colspan=2 width="60%" style="color: black;">
                    <select id="nbrsalaries"  style="color: black;">
			                <option *ngFor="let effectif of effectifs" [value]="effectifs.viewValue" style="color: black;">{{effectif.viewValue}}</option>
		            </select>
                </td>
            </tr>


        </table>
        <br><br>
        <button type="submit" class="btn blue btn-block uppercase" id="_submit" name="_submit" value="connexion"> <img style="width:250px;" src="assets/images/boutonobtenirundevis.png" />
          </button>
         </div>
</form>
