<div style="">
    <p style="font-family:lato; font-size:17px;; font-weight:Regular; color:white;"> Sélectionnez le produit d’assurance pour lequel vous voulez avoir des devis d’assurance de nos différents partenaires
        assureurs : </p>
    <p style="font-family:lato; font-size:17px;; font-weight:Regular; color:#b626c3;">Seul le produit de responsabilité civile (RC) est actuellement disponible</p>
</div>


<div>
    <table style="width:100%">
        <tr>
            <th colspan="6"><input type="text" id="typeassurance" style="width:100%;"></th>
        </tr>
        <tr>
            <th><a><img src="assets/images/boutoProtectionjuridique.png" /></a></th>
            <th><a><img src="assets/images/boutondommageouvrage.png" /></a></th>
            <th><a><img src="assets/images/boutongarantiedecenale.png" /></a></th>
            <th><a><img src="assets/images/boutonresponsabilitecivile.png" /></a></th>
            <th><a><img src="assets/images/boutonRespmandataires.png" /></a></th>
            <th><a><img src="assets/images/boutonjenesaispas.png" /></a></th>

        </tr>
        <tr>

            <th><a><img src="assets/images/boutonMotoindividuellepro.png"  /></a></th>
            <th><a><img src="assets/images/boutonbrisdemachine.png" /></a></th>
            <th><a><img src="assets/images/boutonmarchandisetransportee.png" /></a></th>
            <th><a><img src="assets/images/boutonrisuqesinformatiques.png" /></a></th>
            <th><a><img src="assets/images/boutonmultirisquespro.png" /></a></th>
            <th><a><img src="assets/images/boutonPertedexploitation.png" /></a></th>

        </tr>
        <tr>
            <th><a><img src="assets/images/boutonmutuellesanteentreprise.png" /></a></th>
            <th><a><img src="assets/images/boutonMutuelleTNSmadelin.png" /></a></th>
            <th><a><img src="assets/images/boutonHommecle.png" /></a></th>
            <th><a><img src="assets/images/boutondrone.png" /></a></th>
            <th><a><img src="assets/images/boutonPrevoyancetnsmadelin.png" /></a></th>
            <th><a><img src="assets/images/boutonretraitecomplementaire.png" /></a></th>

        </tr>
        <tr>
            <th><a><img src="assets/images/boutonMutuelleprevoyancemadelin.png" /></a></th>
            <th><a><img src="assets/images/boutonAutoproffessionnelle.png" /></a></th>
            <th><a><img src="assets/images/boutonRetraitemadelin.png" /></a></th>
            <th><a><img src="assets/images/boutonFlottemoto.png" /></a></th>
            <th><a><img src="assets/images/boutonFlotteauto.png" /></a></th>
            <th><a><img src="assets/images/boutonCreditprofessionnel.png" /></a></th>

        </tr>
    </table>
</div>