<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<form style="margin-left:45px">
    <h2 class="stylemove"  style="text-align:center; font-size:20px;">Félicitation XXXXXXXXXXXX ! vous êtes donc maintenant assuré via <br>votre courtier Brokins </h2>
    <h3 class="stylebleu"  style="text-align:center;color:white;font-size:20px;">Tous vos documents contractuels vous ont été envoyés par mail<br>Vous pouvez retourner à vos occupations en toute sérénité</h3>
  <div style="text-align:left; background-color:#95a7cb;">
    <a routerLink="/" ><img width="127" height="32" src="assets/images/boutonretour.png" /></a>
  </div>
  <div style=" background-color:#95a7cb; border: 1px solid white;"  >
    <p style="margin-left:15px; margin-top:5px; margin-bottom:5px;"><label class="stylebleu" style="color:white;font-size:17px;" >Résumé de votre parcours client : </label>
      <br><label class="stylemove" style="font-size:17px;" >Notification</label>
    </p>
  </div>
  <div style="background-color:white;"><br></div>
  <div style="background-color:#94a8cd; height:450px; " class="boxed">
    <div  style="margin-left:15px; ">
      <p>
        <label class="stylebleu" style="color:white;">Votre paiement a pour référence : 1234567890<br>
          Votre numéro ID Brokins est le : CLIXXX123456789<br>
          Votre contrat a pour numéro  :  CONTXXX123456789</label>
      </p>
    </div>
    <table style="width:100%; border:collapse;margin-top: 0px;
    margin-bottom: 0px; border-spacing:10px;
    line-height: 15px; " cellpadding=0 align="left" border=0 cellspacing=10 >
      <tr >
        <td width="30%" class = "top" >
          <label class="stylemove" style="background-color:white; padding: 5px;">VOUS</label>
        </td>
        <td width="30%" class = "top" >
          <label class="stylemove" style="background-color:white; padding: 5px;">VOS GARANTIES</label>
        </td>
        <td width="30%" class = "top" >
          <label class="stylemove" style="background-color:white; padding: 5px;">VOTRE CONTRAT</label>
        </td>
      </tr>
      <tr>
        <td  class = "top">


          <div style="border-width: 0.5px; background-color:white; padding-top: 15px; padding-left:10px; margin-left:3px; height:250px;">

            <label class="stylebleu" ><b>Souscripteur :</b></label>
            <p>
              <label class="stylebleu">BROKINS<br></label>
              <label class="stylebleu">38, rue Madame<br></label>
              <label class="stylebleu">75006 Paris</label>
            </p>
            <br><br><br>
            <label class="stylebleu"><b>Assuré :</b></label>
            <p>
              <label class="stylebleu">BROKINS<br>
                38, rue Madame<br>
                75006 Paris</label>
            </p>
          </div>

        </td>
        <td  class = "top">
          <div style="border-width: 0.5px; background-color:white; padding-top: 15px; padding-left:10px; margin-left:3px; height:250px;" >
            <label class="stylebleu"><b>Montant de votre cotisation :</b></label><br>
            <label class="stylebleu">16,70€ par mois soit 200€ par an</label><br><br>
            <label class="stylebleu"><b>Couverture assurance :</b></label>
            <p>
              <label class="stylebleu">Responsabilité Civile<br></label>
              <label class="stylebleu">1000 000 €<br></label>
              <label class="stylebleu">XXXXXXXXXXXXXXXXX<br>
                XXXXXXXXXXXXXXXXX</label><p>
          </div>

        </td>
        <td  class = "top">
          <div style="border-width: 0.5px; background-color:white; padding-top: 15px; padding-left:10px; margin-left:3px; height:250px;">

            <label class="stylebleu"><b>Période de validité : </b></label><br>
            <label class="stylebleu">Du 01/01/2017 au 31/12/2017</label><br><br>
            <label class="stylebleu"><b>Montant et périodicité de paiement :</b> </label><br>
            <label class="stylebleu">16,70€ par mois </label>

          </div>

        </td>
      </tr>
    </table>
    <br>

  </div>

    <h3 class="stylebleu"  style="text-align:center;color:white;font-size:20px;">Si vous avez 3 secondes n'hésitez pas à noter votre première expérience sur Brokins.fr<br>Merci</h3>
<div style="text-align:center;">	<span class="starRating" >
        <input id="rating5" type="radio" name="rating" value="5" >
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4" >
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked >
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
      </span>
</div>

  <br><br>
  <table style="width:100%; border:collapse;margin-top: 0px;
    margin-bottom: 0px; border-spacing:10px;
    line-height: 15px; " cellpadding=0 align="left" border=0 cellspacing=10 >

    <tr>
      <td width="30%" class = "top" align=left>

      </td>
      <td width="30%" class = "top" align=center>
        <label class="stylemove"  style="font-size:20px;">A bientôt sur Brokins.fr</label>
      </td>
      <td width="30%" class = "top" align=right>
        <a><img height="32" width="127" src="assets/images/boutonimprimez.png" /></a>
      </td>
    </tr>
  </table>
</form>
