<meta charset="utf-8">
<br>
<div style="text-align:left; background-color:#95a7cb;">
  <a routerLink="/" ><img width="127" height="32" src="assets/images/boutonretour.png" /></a>
</div>

<br>
<div style="background-color:white;padding:5px;" class="boxed"  >
  <p style="margin-left:10px;">
    <label class="stylemove" style=" font-size:17px;">Connexion Espace Client – www.brokins.fr</label><br><br>
    <label class="stylebleu">Si vous êtes déjà client Brokins,  vous devez vous munir de votre adresse mail ou de votre numéro d'identifiant Brokins  (composé de X caractères) et du mot de passe que vous avez reçu par mail et par SMS lors de votre souscription à un contrat d'assurance. </label><br><br>
    <label class="stylebleu"> Ensuite, entrez votre adresse mail ainsi que votre mot de passe, à l’aide de votre clavier, dans les zones prévues à cet effet. </label><br><br>
    <label class="stylebleu">Enfin, cliquez sur le bouton</label>
    <label class="stylemove">“Valider”.</label>
  </p>

</div>
<br>
<form (ngSubmit)="loginUser(event)" #event="ngForm">
  <div >
    <table style="width:100%"  cellpadding=2 align="left" cellpadding=0>

      <tr>
        <td width="45%">
          <label class="stylebleu" style="color:white;">ADRESSE EMAIL :</label>
        </td>
        <td width="10%">

        </td>
        <td width="45%" >
          <label class="stylebleu" style="color:white;">Numéro d'identifiant Brokins :</label>
        </td>
      </tr>


      <tr>	<td></td>
      </tr>


      <tr>
        <td >
          <input type="text" name="mail" width="50 px" ngModel>
        </td>
        <td align="center">
          <label class="stylebleu" style="color:white;">OU</label>
        </td>
        <td >
          <input type="text" name="nomentreprise" width="50 px" ngModel>
        </td>
      </tr>
    </table>
  </div>
  <br><br>
  <div >
    <table style="width:100%" id="cssTable" cellpadding=3 align="left" cellpadding="0">
      <tr>
        <td  width="60%">
          <label class="stylebleu" style="color:white;">Mot de Passe :</label>
        </td>
        <td>

        </td>
        <td  width="10%">
          <a routerLink="/ECpwdoublie"><label class="stylebleu" style="color:white;">Mot de passe oublié?</label></a>
        </td>
      </tr>


      <tr>

        <td  width="30%">
          <input type="text" name="motdepasse" width="50 px">
        </td>
        <td >

        </td>
        <td >
          <div align="left" style="background-color:#94a8cd;">
            <button type="submit" style="text-align:right"><img width="127" height="32" src="assets/images/boutonconnexion.png" /></button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <br>
  <table>
    <tr>
      <td style="vertical-align:top;">
        <label class="container">
          <input type="checkbox" class="radio" value="1" name="fooby[1][]"/>
          <span class="checkmark"></span>
        </label>
      </td>
      <td style="vertical-align:center;">
        <label class="stylebleu" style="color:white;">Mémoriser l'adresse mail ou le numéro d'identifiant</label>
      </td>
    </tr>
    <tr>
      <td>
        <br>
      </td>
    </tr>
    <tr>
      <td style="vertical-align:top;">
        <label class="container">
          <input type="checkbox" class="radio" value="1" name="fooby[1][]"/>
          <span class="checkmark"></span>
        </label>
      </td>
      <td style="vertical-align:center;">
        <label class="stylebleu" style="color:white;">Mémoriser le mot de passe</label>
      </td>
    </tr>
  </table>

</form>
