<meta charset="utf-8">
<br>
<div style="text-align:left; background-color:#95a7cb;">
    <a routerLink="/"><img width="127" height="32" src="assets/images/boutonretour.png" /></a>
</div>
<br>

<div style="background-color:white;padding:5px;" class="boxed">
    <p style="margin-left:10px;">
        <label class="stylemove">Perte ou oubli de mot de passe :</label><br><br>
        <label class="stylebleu">Si vous avez perdu ou oublié votre mot de passe, entrez soit votre adresse mail, soit votre numéro d'identifiant brokins (sur x caractères) puis cliquez sur le bouton </label>
        <label class="stylemove">“Valider”.</label>
    </p>
</div>
<br>
<form style="">
    <div>
        <table style="width:100%" cellpadding=2 align="left" cellpadding=0>

            <tr>
                <td width="45%">
                    <label class="stylebleu" style="color:white;">ADRESSE EMAIL :</label>
                </td>
                <td width="10%">

                </td>
                <td width="45%">
                    <label class="stylebleu" style="color:white;">Numéro d'identifiant Brokins :</label>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="nomentreprise" width="50 px">
                </td>
                <td align="center">
                    <label class="stylebleu" style="color:white;">OU</label>
                </td>
                <td>
                    <input type="text" name="mail" width="50 px">
                </td>
            </tr>


        </table>
    </div>


    <table>
        <td width="20%"></td>
        <td width="50%" align="right"><label class="stylebleu" style="color:white;">Vous recevrez votre mot de passe par SMS ou mail via informations communiquées à la souscription</label>
        </td>
        <td width="10%" align="right"><a action="" style="align:right"><img width="127" height="32" src="assets/images/boutonvalidez.png" /></a></td>
    </table>
</form>
