<meta charset="utf-8">
<br>
<div align="left" style="margin-left:45px;">
    <a routerLink="/"><img width="127" height="32" src="assets/images/boutonretour.png" /></a>
</div>
<br>

<div style="margin-left:45px; background-color:white;padding-left:15px;" class="boxed">
    <br>
    <label class="stylemove" style="font-size:17px">Vous souhaitez recevoir un récapitulatif des tarifs par email : </label>
    <p>

        <label class="stylebleu">Il vous suffit pour cela de saisir votre adresse email dans l'espace réservé et de cliquer sur le bouton</label>
        <label class="stylemove">“Valider”.</label><br>
    </p>
    <p>
        <label class="stylebleu">Par ailleurs, un espace personnel "Visiteur Brokins" vous permettra de revenir sur votre simulation
		quand vous voudrez sous 30 jours, en saisissant votre adresse</label><label class="stylemove"> “Email”</label>        <label class="stylebleu">et le</label> <label class="stylemove">“Nom de l'Entreprise”</label>
        <label class="stylebleu">dans la page d'accès à l</label><label class="stylemove">'Espace Client</label></p>

</div>
<br>
<form style="margin-left:45px">
    <div>
        <table style="width:100%; line-height:2px;" id="cssTable" cellpadding=0 align="left" cellspacing=0>

            <tr>
                <td width="10%">
                    <p class="formtext"><b style="color:#456ba8">ADRESSE EMAIL:</b><b style="color:#b626c3;"> *</b></p>
                </td>
                <td width="10%">
                </td>
                <td width="10%">
                    <p class="formtext"><b style="color:#456ba8">NOM DE L'ENTREPRISE :</b><b style="color:#b626c3;"> *</b></p>
                </td>
            </tr>


            <tr>

                <td>
                    <input type="text" name="nomentreprise">
                </td>
                <td>
                </td>
                <td>
                    <input type="text" name="mail">
                </td>
            </tr>


        </table>

        <div align="right">
            <br><br><br><br>
            <a action=""><img width="127" height="32" src="assets/images/boutonvalidez.png" /></a>
        </div>

    </div>
</form>
