<meta charset="utf-8">
<div style="text-align:left; background-color:#95a7cb;">
    <a routerLink="/"><img width="127" height="32" src="assets/images/boutonretour.png" /></a>
</div>
<br>

<div style="background-color:white; padding:15px;">

    <fieldset style="color:#6a89b9;border-width:0.5px; border-color:#9fc5f8;">
        <legend style="colorcolor:#b626c3; font-size:17px;"><b style="color:#b626c3;">CONDITIONS DE RESILIATION	</b></legend>
        <div style="background-color:#95a7cb; padding-left:15px; border: 1px solid white;">
            <p>
                <label class="stylebleu" style="color:white ; font-size:17px;">Vous êtes en retard pour le paiement de votre prime ?</label><br>
                <label class="stylebleu" style="color:white; font-size:17px;"> Sélectionner le contrat en question et laissez vous guider</label>
                <br>
        </div>
        <div style="background-color:white;">
            <p>
                <br>
                <label class="stylemove" style="font-size:17px;">Vous pouvez payer le montant qui vous est demandé par votre assureur, directement depuis votre espace client, il vous suffit pour cela de connaître le montant à payer, et de le saisir.</label><br><br>
                <label class="stylebleu" style="font-size:17px;"> Votre paiement est directement encaissé par votre assureur, vous serez donc instantanément à jour de vos cotisations</label>
            </p>

        </div>
        <div style="">
            <table style="width:40%;">
                <tr>
                    <td><label class="stylebleu">Montant à Payer <b class="stylemove">*</b></label></td>
                    <td></td>
                    <td style=""> <input style="" id="nom">
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td> <br></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="stylebleu">Choisissez votre mode de paiement ?</label>
			</td>

			<td style="text-align:right">
			<a><img src="assets/images/Capture18.png" ></a>

			</td>
			<td style="align:right">
				<label class="container">
				<input type="checkbox" checked="checked">
				<span class="checkmark"></span>
				</label>
                    </td>
                </tr>
            </table>
            <br>
        </div>
        <HR align=center size=1 width="70%">

        <HR align=center size=1 width="70%">

        <div style="margin-left:200px;">
            <p>
                <label class="stylemove" style="font-size:17px;">Une fois que vous aurez saisi votre carte bancaire, vous serez assuré et recevrez par mail votre attestation d'assurance.</label><br>
                <br><label class="stylebleu">Le montant que vous devez payer s'élève à : <label class="stylebleu" style="color:black;">xxx.xx</label>                € TTC </label><br>
                <label class="stylebleu">Brokins n'encaisse aucun fond, le paiement va directement dans le compte de l'assureur du produit que vous avez choisi. <br>
		<br>Le paiement est sécurisé par <a href="http://www.lemonway.fr" style="color:#b626c3;" >lemonway</a></label></p>
        </div>

        <div align=center>
            <label class="stylemove">IMPORTANT : Vous avez jusqu'à 15 jours pour demander un remboursement intégral auprès de l'assureur.</label>
            <br><br>
                <img src="assets/images/Capture26.png">
        </div>
    </fieldset>

</div><br>
<div align=right style="background-color:#95a7cb;"><a action=""><img width="127" height="32" src="assets/images/boutonretour.png" /></a>
</div>
