<div style="text-align:left; background-color:#95a7cb;">
  <a href="" ><img width="127" height="32" src="assets/images/boutonsretour.png" /></a>
</div>

<div style="background-color:white;padding:5px;" class="boxed"  >
  <p style="margin-left:10px;">
    <label class="stylebleu" style="color:#b626c3; font-size:17px;">Formulaire de résiliation de votre contrat en cours chez un autre assureur :</label><br><br>
    <label class="stylebleu font-size:17px;">Vous pouvez résilier votre contrat d'assurance dans des conditions différentes de celles d'un particulier</label>
  </p>
</div>
<div   style="  ">
  <div style="background-color:white; padding:15px;">
    <fieldset style="">
      <legend style="colorcolor:#b626c3; font-size:17px;"><b style="color:#b626c3;" >CONDITIONS DE RESILIATION	</b></legend>
      <div  style="">
        <p style="">  Vous pouvez résilier ce contrat assurance Entreprise dans les hypothèses suivantes :</p>

        <label class="container" style="font-size15px; ">Votre contrat arrive à échéance et vous respectez un préavis de 2 mois (sauf si votre contrat prévoit un délai de préavis plus court).
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container" style="font-size15px; ">Vous cessez votre activité, ou vous changez d’activité ou vous transférez le lieu d’exercice de votre activité à une autre adresse (dans la mesure où ce changement entraîne la suppression du risque qui existait dans votre situation antérieure).
          <input type="checkbox" >
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container" style="font-size15px;">Vous changez de situation maritale ou de régime matrimonial.
          <input type="checkbox" >
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container" style="font-size15px;">Vous prenez votre retraite.
          <input type="checkbox" >
          <span class="checkmark"></span>
        </label>
        <br>
      </div>
    </fieldset>
  </div>
  <div style="background-color:white; padding:15px;">
    <fieldset  >
      <legend style="color:color:#b626c3;font-size:17px; "><b style="color:#b626c3;" >INFORMATIONS SUR VOTRE ASSUREUR ACTUEL</b>  </legend><td>
      <table style="  border:collapse;margin-top: 0px;
				margin-bottom: 0px; text-align:left;
				line-height:30px; "  cellpadding=2  border=0 cellspacing=0>
        <tr>
          <td width="30%"><label  style="color:#6a89b9;"for="nom" >Quel est votre assureur actuel ? <b style="color:#b626c3;">*</b></label></td>
          <td width="10%"> <select style="width:100%" >
            <option value="volvo">Test1</option>
            <option value="saab">Test2</option>
            <option value="opel">Test3</option>
            <option value="audi">Test4</option>
          </select></td><td width="5%"></td>
          <td  width="55%" style="vertical-align:top;" rowspan="3">
            <div style="">
              <h4><p style="color:#b626c3;"><b>Conseil </b>: Si vous êtes passé par un courtier, il
                s'agit du nom de votre assureur, et du numéro de
                contrat chez cet assureur.<br> Si vous hésitez,
                contactez votre courtier.
              </p>
              </h4>
            </div>

          </td>
        </tr>
        <tr>
          <td> <label  style="color:#6a89b9;"for="nom" >Quel est votre numéro de contrat ? <b style="color:#b626c3;">*</b></label></td>
          <td style=""> <input  style="" id="nom" ></td>
          <td></td><td></td>
        </tr>
        <tr>
          <td><label  style="color:#6a89b9;"for="nom" >Date signature de votre contrat actuel :<b style="color:#b626c3;">*</b></label></td>
          <td > <input  id="nom" type="date" style="width:100%"  ></td>
          <td style="allign:left"> <img  style="margin-top: 18%"  width="24" height="24" src="assets/images/calendar.png" alt="HTML tutorial">
          </td>
        </tr>
        <tr>
          <td><label  style="color:#6a89b9;"for="nom" >Date échéance de votre contrat actuel :<b style="color:#b626c3;">*</b></label></td>
          <td style=""> <input  id="nom" type="date" style="width:100%"  ></td>
          <td ><img style="margin-top: 18%"  width="24" height="24" src="assets/images/calendar.png" alt="HTML tutorial">
          </td>
        </tr>
        <tr>
          <td><label  style="color:#6a89b9;"for="nom" >Date d'arrêt de votre activité : <b style="color:#b626c3;">*</b></label></td>
          <td style=""> <input  type="date" style="width:100%"  id="nom" ></td>
          <td><img style="margin-top: 18%"   width="24" height="24" src="assets/images/calendar.png" alt="HTML tutorial">
          </td>
          <td rowspan="3">
            <div style="">
              <h4><p style="color:#b626c3;"><b>Conseil </b>: Il se peut que votre contrat actuel ait été
                signé il y a 4 ans voir 10 ans. C'est de cette date
                dont vous avez besoin<br> pour résilier.
              </p>
              </h4>
            </div>

          </td>
        </tr>
        <tr>
          <td><label  style="color:#6a89b9;"for="nom" >Date changement de votre activité professionnelle : <b style="color:#b626c3;">*</b></label></td>
          <td style=""> <input  type="date" style="width:100%"  id="nom" ></td>
          <td><img style="margin-top: 18%"  width="24" height="24" src="assets/images/calendar.png" alt="HTML tutorial"/>
          </td>
        </tr>
        <tr>
          <td><label  style="color:#6a89b9;"for="nom" >Date transfert de votre lieu d'exercice d'activité :<b style="color:#b626c3;">*</b></label></td>
          <td style=""> <input type="date" style="width:100%" id="nom" ></td>
          <td><img style="margin-top: 18%"  width="24" height="24" src="assets/images/calendar.png" alt="HTML tutorial"/>
          </td>
        </tr>
        <tr>
          <td><label  style="color:#6a89b9;"for="nom" >Nouvelle adresse de votre lieu d'exercice d'activité :<b style="color:#b626c3;">*</b></label></td>
          <td style=""> <input style="" id="nom" ></td>
        </tr>
        <tr>
          <td><label  style="color:#6a89b9;"for="nom" >Date départ retraite :<b style="color:#b626c3;">*</b></label></td>
          <td style=""> <input type="date"  id="nom" style="width:100%"  ></td>
          <td><img style="margin-top: 18%"  width="24" height="24" src="assets/images/calendar.png" alt="HTML tutorial"></td>
        </tr>
      </table>
    </fieldset>
  </div>


</div>
<br>
<div style="background-color:white;padding:5px;" class="boxed"  >
  <p style="margin-left:10px;">
    <label class="stylemove">Brokins va envoyer un courrier de résiliation en recommandé avec accusé de réception à votre assureur sur la base des informations que vous avez communiquées ci-dessus. </label><br><br>
    <label class="stylemove">Les frais d'envoi du courrier de résiliation sont à votre charge de BROKINS SAS.</label>
  </p>
</div>
<br>
<div style="background-color:white;padding:5px;" class="boxed"  >
  <p style="margin-left:10px;">
    <label class="stylemove">L'article L 113-16 du Code des assurances dispose que la réalisation prend effet un mois aprés l'envoi du courrier à votre assureur . Nous allons lui réclamer le remboursement du montant de la prime qui correspond à la période au cours de la quelle l'assureur ne court plus de risque .</label>
  </p>
</div>
<div style="background-color:white;padding:5px;" class="boxed"  >
  <p style="margin-left:10px;"><label class="stylemove"> Vous devez attacher ci-dessous la copie du document (en 1 page) relatif à l'événement visé ci-dessus. </label><br><br>
    <label class="stylebleu">Prenez une photo du document, envoyez-la-vous par mail, stockez-la sur votre ordinateur, puis attachez-la en cliquant sur le bouton "Joindre".</label>
  </p>
</div>
<div style="background-color:#94a8cd;">
  <table style="width:100%; border:collapse;margin-top: 0px;
    margin-bottom: 0px;
    line-height: 5px; " id="cssTable" cellpadding=0 align="left" border=0 cellspacing=0>

    <tr>
      <td  width="25%">
        <input type="text" name="nom" class="zonetext">
      </td>
      <td  width="25%">
        <a href="" style="align:right"><img width="127" height="32" src="assets/images/boutonjoindre.png" height="50" width="162"  /></a>
      </td>
      <td  width="25%">
        <label></label>
      </td>
      <td  width="25%">

      </td>
    </tr>
  </table>
</div>
<div align="right" style="background-color:#94a8cd;">
  <a href="" style="align:right"><img  width="127" height="32" src="assets/images/boutonenvoyez.png" height="50" width="162"  /></a>
</div>
