<br>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<table style="width:100%;text-align:center;">

    <tr>
        <td>
            <h2>Vous ne savez pas de quelle assurance vous avez besoin pour votre activité?</h2>
        </td>
        <td>
            <h2>Vous savez de quelle assurance vous avez besoin pour votre activité?</h2>
        </td>
        <td>
            <h2>Vous êtes déjà client ? Allez plus vite en accédant à votre compte</h2>
        </td>
        <tr>
            <tr>
                <td><a routerLinkActive="/">
					<img style=""  src="assets/images/GrosBouton1.png" alt="HTML tutorial" style="">
				</a></td>
                <td><a routerLink="/devisproduit">
					<img style=""  src="assets/images/Grosbouton2.png" alt="HTML tutorial" style="">
				</a></td>
                <td><a routerLink="/felicitationmdplogin">
					<img style=""  src="assets/images/Grosbouton3.png" alt="HTML tutorial" style="">
				</a></td>
            </tr>

</table>

  <p class="two" style="color: white"><b style="color:white;margin-left: 52%">...</b></p>
<a style="color:white;margin-left: 40%"  href="">QUELQUES TEMOIGNAGES DE NOS CLIENTS</a>
<div class="absolute6" style="margin-left: 30%">
<p>Guillaume D - Boulonger<br>
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
<br>

<p>Guillaume D - Boulonger <br>
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
<br>
<p>Guillaume D - Boulonger<br>
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
<br>
</div>
<div class="absolute6" style="margin-left: 50%">

  <p>Guillaume D - Boulonger<br>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
  <br>
  <p>Guillaume D - Boulonger <br>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
  <br>
  <p>Guillaume D - Boulonger<br>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx<br>
    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
  <br>



</div>
