<br>
<meta charset="utf-8">

<table style="width:100%;text-align:center;">

    <tr>
        <td>
            <h2>Vous ne savez pas de quelle assurance vous avez besoin pour votre activité?</h2>
        </td>
        <td>
            <h2>Vous savez de quelle assurance vous avez besoin pour votre activité?</h2>
        </td>
        <td>
            <h2>Vous êtes déjà client ? Allez plus vite en accédant à votre compte</h2>
        </td>
        <tr>
            <tr>
                <td><a routerLink="/contact">
					<img style=""  src="assets/images/GrosBouton1.png" alt="HTML tutorial" style="">
				</a></td>
                <td><a routerLink="/contact">
					<img style=""  src="assets/images/Grosbouton2.png" alt="HTML tutorial" style="">
				</a></td>
                <td><a routerLink="/devisproduit">
					<img style=""  src="assets/images/Grosbouton3.png" alt="HTML tutorial" style="">
				</a></td>
            </tr>

</table>
