<div align="right">
  <a action="" style="align:right"><img style="margin-right:40px;" src="assets/images/boutonretour.png" /></a>
</div>
<br><br>
<div class ="boxed" style=" background-color:white; ">
  <br>
  <p class="stylebleu"  ></p>
  <p class="stylemove"  ></p>
  <p>
    <b class="stylebleu"  ></b>
    <b class="stylemove"  ></b>
  </p>
  <h3 class="stylemove" style="font-size:17px"  >QUI SOMMES-NOUS ?</h3>
  <p class="stylebleu"  >Nous sommes une équipe constituée d’experts en assurance et en innovations technologiques. C’est tout ce que nous savons faire et c’est pour cela que nous sommes bien placés pour vous proposer les produits et les services les mieux adaptés à vos besoins. Chez Brokins, en tant que client,  vous êtes notre point d’attention et nous vous traitons avec soin, parce que nous vous comprenons. </p>
  <p>
    <label class="stylebleu"  >Le site </label>
    <a href="http://www.brokins.fr" class="stylemove"  >www.brokins.fr</a>
    <label class="stylebleu"   >est un outil qui apporte des solutions aux problèmes constatés par les chefs d’entreprise dans leur démarche de couverture de leurs risques, mais également dans leurs relations avec l’assurance en général. </label>
    <label class="stylemove"  ></label>
  </p>


  <li class="stylebleu" style="margin-left:10px;width:1355px;">
    <label class="stylemove" style="font-size:17px;"  ><b>1er constat</b></label>
    <label class="stylebleu" >, la complexité pour les chefs d’entreprise de comprendre les produits d’assurance, qui sont des produits dits « complexes » ou viennent se greffer des paramètres juridiques, fiscaux, sociaux, commerciaux, actuariels.  Seulement 5% des chefs d’entreprises disent comprendre leur contrat.</label>

  </li><br>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylemove" style="font-size:17px;" ><b>2ème constat</b></label>
    <label class="stylebleu"  >, le manque de temps des chefs d’entreprise, qui souhaiteraient que cette formalité administrative d’assurance prenne le moins de temps possible, ce qui leur permettrait de réaliser des activités jugées à plus fortes valeurs ajoutées pour leur entreprise. </label>
  </li><br>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylemove" style="font-size:17px;"  ><b>3ème constat</b></label>
    <label class="stylebleu"  >, le manque de confiance qu’ils accordent aux professionnels de l’assurance, alors qu’ils leur confient la protection matérielle, immatérielle, financière, et humaine de leur entreprise. Manque de confiance liée à la non-adéquation du produit proposé au regard du besoin exprimé, du montant de la cotisation surévalué au regard du besoin exprimé, du manque d’indépendance du courtier dans le conseil prodigué, des services proposés post-souscription, et enfin des moyens technologiques de sécurité de la transaction et de la confidentialité des données communiquées.</label>
  </li><br>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylemove" style="font-size:17px;" ><b>4ème constat</b></label>
    <label class="stylebleu"  >, le manque d’interactivité entre le professionnel d’assurance et l’assuré après la signature du contrat, réduit généralement à un seul échange, lors de la survenance d’un sinistre.</label>
  </li><br>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylemove"  style="font-size:17px;"><b>5ème constat</b></label>
    <label class="stylebleu"  >, le manque de services à fortes valeurs ajoutées que le chef d’entreprise est en droit d’attendre d’un professionnel de l’assurance. 14% des chefs d’entreprises seulement disent avoir du conseil dans la gestion de leur risque.</label>
  </li><br>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylemove"  ><b>6ème constat</b></label>
    <label class="stylebleu"  >, le manque d’autonomie dans la réalisation d’actions simples sur ses contrats d’assurance.</label>
  </li><br>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylemove"  ><b>7ème constat</b></label>
    <label class="stylebleu"  >, le manque d’efforts commerciaux concédés par les professionnels de l’assurance, notamment les assureurs sur le montant de la prime, et ses modalités de paiement.</label>
  </li><br>
  <p>
    <label class="stylemove"  >Brokins SAS</label>
    <label class="stylebleu"  >, est une société de courtage en assurance pour les Professionnels, les Micros, Petites et Moyennes Entreprises ou Industries, qui est présente exclusivement en ligne via le site www.brokins.fr. Il permet de répondre à tous les écueils listés plus haut via une solution intelligente de :</label>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylebleu"  >Proposition de conseils éclairés quant au choix de couverture assurantielle en fonction de son activité professionnelle (transparence de l'offre, vulgarisation du vocabulaire assurance)</label>
  </li>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylebleu"  >Comparaison des offres de différents fournisseurs sur la base des données saisies par l'internaute (classement de la meilleure offre non basée exclusivement sur le prix, mais sur les garanties majeures, les exclusions...)</label>
  </li>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylebleu"  >Paiement et signature en ligne afin d'être assuré instantanément</label>
  </li>
  <li class="stylebleu" style="margin-left:10px">
    <label class="stylebleu"  >Gestion de son assurance via un espace client permettant de proposer des actes de gestion simples comme les avenants aux contrats, mais aussi de nombreux services (veilles sur les activités...)</label>
  </li>

  </p>

  <p class="stylemove" style="font-size:17px;" ><b>QUE FAISONS-NOUS ?</b></p>
  <p class="stylebleu"  ></p>
  <p>
    <label class="stylebleu"  >Contrairement à ce que l’on peut penser, un courtier ne vend pas directement de contrats d’assurance à ses clients, le courtier étant un intermédiaire, il aide ses clients à en acheter, contrairement à l’agent d’assurance qui lui, représente l’assureur via un mandat. En cela, le site WEB </label>
    <a href="http://www.brokins.fr" class="stylemove"  >www.brokins.fr</a>
    <label class="stylebleu"  >, par le biais de son outil de conseil aux clients et sa connaissance approfondie du marché de l’assurance, propose les meilleures solutions existantes sur le marché.</label>
  </p>
  <li class="stylebleu" style="margin-left:50px">
    <b><label class="stylemove"  >1)</label>
      <u><label class="stylebleu"  >Le courtier en ligne Brokins trouve l'assureur qui correspond le plus à vos besoins :</label></u></b><br>
  </li>
  <p class="stylebleu" style="margin-bottom: 0px;margin-top: 0px;" > Le courtage en assurance est une activité commerciale indépendante qui consiste à mettre en relation un client (l'assuré) avec un assureur. Brokins est un site spécialiste dans le sens où il propose les assurances nécessaires aux professionnels et entreprises.</p>
  <p>
    <label class="stylebleu"  >Le site web</label>
    <a href="http://www.brokins.fr" class="stylemove"  >www.brokins.fr</a>
    <label class="stylebleu"  >, en tant que courtier en assurance, agit en tant que mandataire de son client ; à ce titre, il mettra en œuvre son expertise et sa connaissance du marché pour identifier des risques spécifiques à couvrir et trouver l'offre la plus adaptée et la plus avantageuse pour son client. Brokins devient votre conseiller personnel en matière d’assurance.  Mais surtout, il est libre  de faire des recommandations objectives.  Sa première et unique responsabilité est de servir vos intérêts en premier et pas ceux de l’assureur, qui lui ne proposera que son offre (sa marque) alors qu’il en existe des centaines d’autres. <br>
      Enfin, sur certaines activités, les principaux assureurs connus refusent d’assurer. Dans ce cas, BROKINS peut vous trouver un assureur qui honorera ses engagements, notamment des assureurs européens.</label>
  </p>
  <li class="stylebleu" style="margin-left:50px">
    <b><label class="stylemove"  >2)</label>
      <u><label class="stylebleu"  >Le courtier en ligne Brokins vous permet d’économiser du temps et de l'argent :</label></u></b><br>
  </li>
  <p class="stylebleu" style="margin-bottom: 0px;margin-top: 0px;" >Passer par Brokins permet donc aux clients souhaitant souscrire un contrat d'assurance de bénéficier d'un gain de temps et d'argent non négligeable que ce soit au moment de choisir un contrat d'assurance ou du suivi de celui-ci, grâce à toute la partie administrative de contractualisation et de suivi qui se feront via des outils numériques (paiement électronique, signature électronique du contrat, échange via email et SMS). Tous les documents seront au format électronique. Fini la paperasse ! Le futur assuré peut se voir ainsi proposer, selon la prestation recherchée, un conseil, un devis gratuit ou une simulation comparative en ligne et gagner un temps considérable.</p>
  <p class="stylebleu"  >Utiliser les services d’un courtier comme Brokins ne vous occasionne aucuns frais supplémentaires.  Un courtier reçoit une commission de toute compagnie d’assurance auprès de laquelle il place un contrat; il n’a aucun incitatif financier pour choisir une compagnie plutôt qu’une autre.  De plus, il fait preuve de transparence absolue en ce qui concerne ses opérations et il vous encourage à lui poser des questions sur sa rémunération.</p>
  <p>
    <label class="stylebleu"  >Enfin, le montant de la prime à payer par le client, pour un même produit vendu en direct par un assureur, est moins élevé chez les courtiers et notamment chez Brokins SAS. En effet, grâce à l'intelligence de la plateforme </label>
    <a href="http://www.brokins.fr" class="stylemove"  >www.brokins.fr</a>
    <label class="stylebleu"  >(qui est tout simplement une traduction informatique embarquée de la formation professionnelle, de l'expertise assurance, et du conseil des meilleurs courtiers),  qui permet de vous proposer un contrat le plus proche de votre besoin,  limite automatiquement les risques de l'assureur du contrat.  De plus, il dispose d’une force de frappe supérieure à vous,  qui êtes seul face à un assureur. Enfin, sur la base d’un devis en votre possession, BROKINS vous fera une contre-proposition jusqu’à 20% moins cher, avec des garanties équivalentes voir supérieures chez un autre assureur.</label>
  </p>
  <li class="stylebleu" style="margin-left:50px">
    <b><label class="stylemove"  >3)</label>
      <u><label class="stylebleu"  >Le courtier en ligne Brokins vous permet d’avoir une offre cohérente entre ces différentes assurances :</label></u></b><br>
  </li>
  <p class="stylebleu" style="margin-bottom: 0px;margin-top: 0px;" >Brokins, en tant que courtier complètement indépendant, identifie rapidement les offres disponibles sur le marché en adéquation avec les besoins du client et optimise ses chances de trouver une meilleure assurance parmi les 4 grandes familles de risques auxquelles sont exposées les entreprises :</p>
  <p>
    <label class="stylebleu" style="margin-left: 50px;" ><b>-Les risques de dommages aux biens</b></label>
    <label class="stylebleu" style="margin-left: 120px;">
      <br>-locaux</label><br><label class="stylebleu" style="margin-left: 120px;">-matériels<br></label><label class="stylebleu" style="margin-left: 120px;">-mobiliers<br></label><label class="stylebleu" style="margin-left: 120px;">-marchandises

  </label>
  </p>
  <p>
    <label class="stylebleu" style="margin-left: 50px;" ><b>-Les risques de responsabilité</b></label>
    <label class="stylebleu" style="margin-left: 120px;"><br>-responsabilités encourues vis-à-vis des tiers du fait de votre exploitation (un client se blesse dans votre local, à cause d’une anomalie de votre matériel)</label><br>
    <label class="stylebleu" style="margin-left: 120px;">-responsabilités encourues du fait des produits (ou des prestations) vendus, fabriqués ou distribués (un client n'est pas content du résultat de votre travail<br></label>
  </p>
  <p>
    <label class="stylebleu" style="margin-left: 50px;" ><b>-Les risques financiers</b></label><br>
    <label class="stylebleu" style="margin-left: 120px;">-perte d’exploitation<br></label>
    <label class="stylebleu" style="margin-left: 120px;">-perte de valeur vénale du fonds de commerce</label><br>
    <label class="stylebleu" style="margin-left: 120px;">-risque de perte de créance sur les clients</label>
  </p>
  <p>
    <label class="stylebleu" style="margin-left: 50px;" ><b>-Les risques de personnes</b></label><br>
    <label class="stylebleu" style="margin-left: 120px;">-dommages matériels ou corporels subis par votre personnel dans vos locaux<br></label>
    <label class="stylebleu" style="margin-left: 120px;">-risques encourus par votre personnel en dehors de vos locaux ou risques encourus par vos collaborateurs en mission à l’étrange</label>
  </p>
  <p>
    <label class="stylebleu"  >Le site web </label>
    <a href="http://www.brokins.fr" class="stylemove"  >www.brokins.fr</a>
    <label class="stylebleu"  >, en tant que courtier en assurance a le recul et les connaissances nécessaires pour faire en sorte que les différentes assurances auxquelles vous souscrivez ne se recoupent pas.</label>
  </p>
  <li class="stylebleu" style="margin-left:50px">
    <b><label class="stylemove"  >4)</label>
      <u><label class="stylebleu"  >Le courtier Brokins propose de nombreux services à ses clients :</label></u></b>
  </li>
  <p class="stylebleu" style="margin-bottom: 0px;margin-top: 0px;" >Un assuré a différents besoins, comme par exemple gérer ses contrats en ligne. Mais le courtier Brokins peut également formuler des propositions à son client quand il identifie des offres plus avantageuses sur le marché, il peut aussi lui fournir une aide à la résiliation.
    Il propose également d’envoyer régulièrement des informations spécifiques, liées au domaine d’activité de son client, mais aussi générales comme les évolutions réglementaires l’impactant.</p>
  <p>
    <label class="stylebleu"  >Enfin, le courtier Brokins enverra à ses clients différents conseils simples, liés à la gestion de leurs risques. Par exemple le fait :</label><br>
    <label class="stylebleu" style="margin-left: 120px;">-de prendre des mesures de prévention<br></label>
    <label class="stylebleu" style="margin-left: 120px;">-d'observer des mesures de sécurité<br></label>
    <label class="stylebleu" style="margin-left: 120px;">-d'avoir éventuellement à changer ses habitudes<br></label>
    <label class="stylebleu" style="margin-left: 120px;">-de prendre en charge une partie des risques (rétention).<br></label>
  </p>
  <p class="stylebleu"  >Et tout ça, <b>gratuitement</b>. En effet, quand la collaboration aboutit à la souscription d'un contrat d'assurance, le client ne devra verser aucune somme à Brokins SAS. La compagnie d'assurance nous versera une commission de distribution intégrée à la prime d'assurance.</p>
  <p class="stylebleu"  >À ce titre, BROKINS agit en tant que <b>facilitateur</b> car représente pour vous un <b>point d’entrée unique</b> pour régler toutes vos problématiques, dans l’esprit d’un <b>guichet unique</b>.</p>
  <li class="stylebleu" style="margin-left:50px">
    <b><label class="stylemove"  >5)Brokins SAS</label>
      <u><label class="stylebleu"  >, fait défendre les intérêts du client après la souscription du contrat :</label></u></b>
  </li>
  <p class="stylebleu" style="margin-bottom: 0px;margin-top: 0px;" >Le travail du courtier d'assurance Brokins ne s'arrête pas à la signature du contrat. Il se charge également du suivi via l’espace client en ligne de l’assuré, et s'assure du respect de ses clauses. En cas de sinistre, le courtier Brokins prend en charge les démarches de déclaration de sinistre auprès de la compagnie d'assurance via votre propre déclaration sur l'espace client, mais également de défendre son client en cas de litige avec la compagnie dans un premier temps en utilisant sa force de frappe personnelle, puis en déterminant parmi vos contrats une garantie Protection Juridique pouvant reprendre le relais.
    Enfin, il est en mesure de vous mettre en contact avec un avocat spécialisé dans les litiges avec les assureurs. Passer par Brokins permet, ici encore, de vous faire gagner un temps précieux et d’augmenter vos chances d’obtenir une indemnisation.</p>
  <br><br>
</div>
<br><br><br>
