.stylebleu {
  font-family:Lato Bold; font-size:15px; font-weight:Regular; color:#94a8cd;text-align: justify; text-justify: inter-word;
}
.stylemove {
  font-family:Lato Bold; font-size:15px; font-weight:Regular; color:#b626c3; text-align: justify; text-justify: inter-word;
}
.boxed {
  border: 0px solid black ;
  color: white;
}
h3{

}
p{

  text-align: justify; text-justify: inter-word;
}

