<div>
    <table width="50%" class="top" >
        <tr >
            <td width="10%"><img width="150" height="300" src="assets/images/Sepa-logo.png"></td>
            <td width="5%"></td>
            <td width="85%"><p>
                    <label class="stylebleu" style="color:white;">Assurance XXXXXXXX (Réf produit)</label><br>
                    <label class="stylemove">Nom de l'assureur <i>(Réf Assureur)</i></label><br>
                   
                    
                </p>
                <input placeholder="Taper ici le titre ou résumé de votre commentaire (Obligatoire)" width="100px">
                <br><br>
                
                <textarea rows="8" style="border:0px;" name="commentaire" placeholder="Taper ici le titre ou résumé de votre commentaire (Obligatoire)<br>Pourquoi avez vous choisi cette note? <br>Qu'est
                ce que vous aimez ? ou qu'est ce que vous n'aimez pas ?">
</textarea>
            </td>
        </tr>
    </table>
</div>