<br>
<br>
<input style="border-radius: 12px; " id="image" type="image" src="assets/images/boutonsretour.png">

<div style="background-color:white; padding:15px;">
  <fieldset style="color:white;border-width:0.5px; border-color:#9fc5f8;">
    <legend style="colorcolor:#b626c3; font-size:17px;"><b style="color:#b626c3;" >ESPACE CLIENT</b></legend>
    <div style="background-color:white; border:0px;">


    <br>
    <img  style="position:absolute;width:15%;margin-top:1.5%" src="assets/images/axa.png">

    <fieldset style="background-color:white;margin-left:20%;color: #6a89b9;border-width: 0.5px; ">
      <legend> <h1 style="color:#b626c3;  font-size:15px;">La question d'un client</h1></legend>
      <p style="color:black;font-size:15px;"> Contact : Mr xxxxxx xxxxxxx<br>
        Adresse Postale : 11, avenue Francois mitterand, 93400 Saint Denis<br>
        Téléphone* : 0839 454 454_<br>
        Mail* :  Gestion@generali.fr
      </p>
    </fieldset>

      <fieldset style="background-color:white;margin-left:20%;color: #6a89b9;border-width: 0.5px; ">
        <legend> <h1 style="color:#b626c3;  font-size:15px;">Répondez à cette question</h1></legend>
        <p style="color:black;font-size:15px;"> BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla
          BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
      </fieldset>
      <p style="color:black;">Assurance XXXXXXXX (Réf produit)</p>
      <p  style="color:black;margin-left:20%"><a href="#">Voir toutes les questions sur ce produit</a></p>
      <input style="border-radius: 12px;margin-left: 88% " id="image" type="image" src="assets/images/repondre.png">

      <br><br>
      <p class="two" style="color: #6a89b9;border-width: 0.5px;" ></p>
     <p style="color: black;"> BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
      <p class="two" style="color: #6a89b9;border-width: 0.5px;" ></p>
      <p style="color:black;">BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
      <p class="two" style="color: #6a89b9;border-width: 0.5px;" ></p>
      <p style="color: black;">BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
      <p class="two" style="color: #6a89b9;border-width: 0.5px;" ></p>

    <br>

</div>
  </fieldset>
<br>
<input style="border-radius: 12px; margin-left:45% " id="image" type="image" src="assets/images/identifier.png">
</div>

