<br>
<br>
<input style="border-radius: 12px; " id="image" type="image" src="assets/images/boutonsretour.png">

<div style="background-color:white; padding:25px;">
    <div style="background-color:white; border:0px;">


      <br>
      <img  style="position:absolute;width:15%;margin-top:1.5%" src="assets/images/axa.png">

      <div style="background-color:white;margin-left:20%;color: #6a89b9;border-width: 0.5px; ">

        <p style="color:#446ba8"> Assurance XXXXXXXX (Réf produit)de
        <a href="brokins.fr">Brokins.fr</a>
        </p>
      </div>

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <p class="two" style="color: #6a89b9;border-width: 0.5px;" ></p>
      <input style="border-radius: 12px;margin-left: 72.5% ;width:20% ;position: absolute;" id="image" type="image" src="assets/images/Posez.png">


      <input style="align:left;height:30px;border-radius: 12px;width:78%;">
      <br><br>
      <p style="color: #6a89b9;text-align:center;"><b  style="color: black;">Question :</b> BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla <br>
        <b style="color: black;">Réponse:</b> BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
      <p style="color: #6a89b9; text-align:center;"><b  style="color: black;">Question :</b> BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla <br>
        <b  style="color: black;">Réponse:</b> BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>
      <p style="color: #6a89b9; text-align:center;"><b  style="color: black;">Question :</b> BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla <br>
        <b  style="color: black;">Réponse:</b> BlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBlaBla</p>

      <br>
  <input style="border-radius: 12px; margin-left:70% " id="image" type="image" src="assets/images/identifier.png">
</div>
</div>
<div>
  <h1></h1>
</div>

