<div>
    <label class="stylemove">Assurance Protection Juridique</label>
</div>
<br>
<div class="whitediv">
     Définition Liste des garanties possibles <br>Liste des produits complémentaires <br>Liste des Exclusions <br>Exemple de cas d'école
    <br><br><br><br>
</div>
<div align=center>
    <p>
        <a action="" style=""><img width="127" height="32" src="assets/images/boutonenvoyez.png" /></a>
        
        <a action="" style="margin-left:10px;"><img width="127" height="32" src="assets/images/boutonenvoyez.png" /></a>
    </p>
    
</div>