<div align="center">
    <div>
        <h1>Tapez votre numéro de SIREN</h1>
        <h3>OU</h3>
        <h1>Tapez votre code NAF</h1>
        <h3>OU</h3>
        <h1>Votre activité</h1>
    </div>
    <div width="100%">
        <input type="text" width=500px>
    
    <table>
        <tr><td class="stylemove">Votre Chiffre d'Affaires</td><td width="10%"></td><td><input></td></tr>
        <tr><td class="stylemove">Nombre de Salariés</td><td></td><td><input></td></tr>
        <tr><td class="stylemove">Code Postale</td><td></td><td><input></td></tr>
        <tr><td class="stylemove">Avez-vous des locaux ?</td><td></td><td><input></td></tr>
    </table>
    </div>
    <div align="center">
        <a action="" style="align:right"><img src="assets/images/boutonenvoyez.png" height="50" width="162"  /></a>
    </div>
</div>