
<div style="background-color:#94a8cd; ">
        <input  style="border-radius: 12px;"id="image" type="image" alt="Connexion" height="50" width="162"
 src="assets/images/boutonsretour.png">
 <br>
        <fieldset style="color:#6a89b9; border-color:#9fc5f8; ">

            <legend style="color:#6a89b9; "><b style="color:#b626c3;">CONSEIL</b></legend>
                <div style="background-color:white;text-align:left; width:100%;">
                    <p style="font-size:15px; padding:10px;">
                        <label class="stylebleu">Réception de votre Définition de Produit par email :</label><br><br>
                        <label class="stylemove "> Notification</label>

                </div>

                <div style="background-color:white;color:white;">

                    <p style="text-align:left;padding:10px;">
                       <label class="stylebleu">Votre demande a bien été prise en compte.<br><br> Un email de notification vient de vous être envoyé à l'adresse suivante :</label>
                       <label class="stylemove">xxxxxxxxxx@xxxxxxxx.xxx</label><br><br>
                    <label class="stylebleu">Merci pour l'intérêt que vous portez aux services Brokins.</label>
                    </p>


                </div>


        </fieldset>
    </div><br>
    <div align=right>
    <input style="border-radius: 12px;" id="image" type="image" alt="Connexion" height="50" width="162" src="assets/images/boutonenvoyez.png">
    </div>