<div align="right">
  <a action="" style="align:right"><img src="../imageBrokins/boutonretour.png" /></a>
</div>
<br><br>
<div class ="boxed" style="background-color:white;">
  <br>
  <h3 class="stylemove"  > MOYENS DE PAIEMENTS AUTORISES  </h3>
  <p class="stylemove"  > 1]Paiement en ligne sécurisé :</p>
  <p class="stylebleu"  >Brokins.fr vous propose des modes de paiement 100% sécurisés.</p>
  <p class="stylebleu"  >Nous acceptons les cartes suivantes : CB, Visa, MasterCard et e-Carte Bleue.</p>
  <table style="width:100%; "   cellpadding=0 align="left" border=1 cellspacing=0>

    <tr >
      <td align="right" width="10%">
        <a action=""><img  height="78" width="125" src="assets/images/assets/carte-visa-mastercard-carte-bleue.jpeg" /></a>
      </td>
      <td  width="90%"style="background-color:#9fc5f8">
        <h2 class="stylemove"  >Paiement par carte bancaire</h2	>
      </td>

    </tr>
  </table>
  <p>
    <b class="stylebleu"  >Pour la sécurité de vos paiements, nous utilisons la solution de paiement sécurisé</b>
    <a href="http://www.lemonway.fr" ><b class="stylemove"  >lemonway</b></a>
    <b class="stylebleu"  >, solution de paiement par carte bancaire mise au point par une entreprise française et utilisée par un grand nombre de banques.</b>
  </p>
  <p class="stylebleu"  >Avec ce système, votre paiement par carte s'effectue directement sur le serveur sécurisé de l'assureur que vous aurez choisi. A aucun moment votre numéro de carte ne nous sera communiqué. Les échanges sont cryptés et sécurisés grâce au protocole SSL 3 (Secure Socket Layer) sur l'Internet, protocole qui est devenu une norme mondiale et qui est utilisable par les principaux navigateurs. </p>
  <h3 class="stylemove"  >Certification PCI DSS</h3>
  <p>
    <b class="stylebleu"  > La norme PCI DSS est une norme écrite conjointement par les réseaux Carte Bleue/Visa et EuroCard/MasterCard. Elle regroupe des recommandations pour garantir la sécurité d'informations confidentielles détenues par des sociétés, telles que des numéros de cartes bancaires. Audité, la société Lemonway a obtenu ce label pour sa solution de paiement par internet en </b>
    <b class="stylemove"  >20XX.</b>
  </p>
  <h3 class="stylemove"  > Vos achats protégés par 3D Secure</h3>
  <a action="" ><img src="../imageBrokins/assets/3Dsecrure.gif" /></a>
  <p class="stylebleu"  >Depuis octobre 2008, une nouvelle norme de sécurité est opérationnelle en France. Elle vise à authentifier le porteur d'une carte bancaire lors d'un paiement par internet. Cette norme est déclinée sous le nom de "Verified by Visa" pour Visa et "MasterCard SecureCode" pour MasterCard.</p>
  <p class="stylebleu"  >Son principe repose sur la vérification d'une information connue seulement par le titulaire de la carte bancaire (à l'instar du code à 4 chiffres) et qui sera demandée par sa banque lors des transactions sur le web. Elle peut vous demander par exemple votre date de naissance, un code secret de votre choix, un code reçu par SMS, etc.</p>
  <h3 class="stylemove"  >Des sécurités pour les internautes</h3>
  <p class="stylebleu"  >- Le numéro de la carte bancaire est saisi sur une page sécurisée hébergée par LEMONWAY, il n'est donc pas connu de brokins.fr.
    - Les informations sont cryptées (technologie SSL)
    - Le numéro de carte n'est jamais imprimé entièrement sur les facturettes de paiement.</p>
  <h3 class="stylemove"  >Quelles sécurités utilise Lemonway ?</h3>
  <p class="stylebleu"  >Lemonway utilise le système normalisé de cryptage appelé "le protocole SSL". Il se concrétise, lorsque vous êtes sur la page de paiement, par :</p>
  <p>
    <b class="stylebleu"  >- Un pictogramme dans un coin de votre navigateur : l'un de ces signes doit être présent. logos de cadenas présents lors d'une connexion sécurisée :</b>
    <a action="" ><img src="../imageBrokins/assets/faq-acheteur.gif" /></a>
    <b class="stylebleu"  >. <br> Le cadenas doit être fermé.</b>
  </p>
  <p class="stylebleu"  >- Dans la barre d'adresse de votre navigateur, le navigateur est en mode " https://" au lieu de "http://".</p>
  <p class="stylebleu"  >- Lorsque vous passez de mode non-crypté en mode crypté (et inversement), les navigateurs affichent un message vous prévenant du changement. </p>
  <p class="stylebleu"  >Vérifiez ces éléments avant la saisie de données confidentielles, c'est un gage de sécurité. Afin d'utiliser les protocoles les plus puissants, nous vous recommandons l'usage d'un navigateur de dernière version.</p>
  <h3 class="stylemove"  >Quelles sont les informations nécessaires pour utiliser Lemonway ?</h3>
  <p class="stylebleu"  >Sur le site Lemonway, nous vous demanderons :</p>
  <p class="stylebleu"  >- le numéro de carte bancaire ou de carte privative (numéros à 15 ou 16 chiffres)<br>
    - la date d'expiration<br>
    - le cryptogramme visuel (3 ou 4 derniers chiffres sur la bande de signature de votre carte)</p>
  <p class="stylebleu"  >Avec le déploiement du 3D Secure (reconnaissable avec les logos "Verifed By Visa" ou "MasterCard SecureCode") votre banque vous demandera également lors du paiement de vous authentifier par une information confidentielle à saisir sur une page internet de votre propre banque.</p>
  <table style="width:100%; "   cellpadding=0 align="left" border=0 cellspacing=0>

    <tr >
      <td width="10%" align="right">
        <a action=""><img  height="78" width="125" src="../imageBrokins/assets/PP-Acceptance-Marks-for-LogoCenter-266x142.png" /></a>
      </td>
      <td width="90%" style="background-color:#9fc5f8">
        <h2 class="stylemove"  >Paypal</h2	>
      </td>

    </tr>
  </table><br>
  <p class="stylebleu"  >Utilisez votre compte PayPal pour un règlement sécurisé.</p>
  <p>
    <a href="https://www.paypal.com/fr/webapps/mpp/what-is-paypal" ><b class="stylemove"  >Paypal</b></a>
    <b class="stylebleu"  > est une solution de paiement en ligne qui permet de recevoir des paiements, de payer ses achats, d'envoyer et recevoir de l’argent. Vos informations personnelles et les coordonnées bancaires sont saisies à l’inscription. Par la suite, une adresse mail et un mot de passe sont suffisants pour effectuer les transactions avec les sites qui acceptent ce mode de paiement.</b>
  </p>
  <p class="stylebleu"  >Avec un compte Paypal, vous pouvez également recevoir de l’argent : vendre un objet, demander un transfert d’argent… </p>
  <h3 class="stylemove"  >Les avantages ?</h3>
  <p class="stylebleu"  >- Pas de numéro de carte bancaire à donner au cybercommerçant et donc à brokins.fr<br>
    - Rapidité de la transaction</p>
  <p>
    <b class="stylebleu"  >Si vous disposez d'un compte</b>
    <a href="https://www.paypal.com/signin?country.x=FR&locale.x=fr_FR" ><b class="stylemove"  >Paypal</b></a>
    <b class="stylebleu"  >, vous pouvez l'utiliser pour régler votre première cotisation assurance sur Brokins.fr.</b>
  </p>
  <p class="stylebleu"  >Un seul impératif,  "Le nom, adresses de facturation utilisés pour le paiement de la cotisation assurance doivent être strictement conformes à ceux déclarés dans votre compte PayPal."</p>
  <p class="stylebleu"  >Dans le cas contraire, votre souscription assurance sera automatiquement annulée.</p>
  <table style="width:100%; "   cellpadding=0 align="left" border=0 cellspacing=0>
    <tr >
      <td width="10%" align="right">
        <a action=""  ><img  height="78" width="125" src="assets/images/assets/mi-ima-9a26b68e21.jpeg" /></a>
      </td >
      <td width="10%" style="background-color:#9fc5f8">
        <h2 class="stylemove"  >Virement Bancaire</h2	>
      </td>
    </tr>
  </table>
  <br>
  <p>
    <b class="stylebleu"  >Vous pouvez choisir de payer par</b>
    <b class="stylemove"  >Virement Bancaire</b>
  </p>
  <p class="stylebleu"  >Le délai de traitement par les banques est de 2 à 5 jours pour un virement à partir de la France, et de 4 à 10 jours pour un virement international.<br>
    Une fois les fonds réceptionnés par l’assureur que vous aurez choisi, le règlement de la cotisation est validé, vous serez donc définitivement assuré.</p>
  <p class="stylebleu"  >Vous recevrez également le RIB par email immédiatement après que vous ayez cliqué sur le bouton «Terminez» de votre souscription sur le site brokins.fr en ayant coché un paiement par "Virement bancaire". Puis vous effectuez le plus rapidement possible dans les 24h, le virement auprès de votre banque (soit depuis votre interface bancaire internet soit en le demandant directement à votre conseillé en agence après lui avoir envoyé le RIB, le motif, et le montant.</p>
  <p class="stylebleu"  >Le paiement est également possible pour les clients de l'International.</p>
  <p class="stylebleu"  >Après la signature électronique de votre contrat, un numéro de référence vous sera attribué. Ce numéro de référence devra être saisi dans le champ "Motif" du virement bancaire.</p>
  <p class="stylebleu"  >Le virement doit être effectué aux coordonnées bancaires de votre assureur qui vous seront communiquées directement en ligne mais également par email sous le format suivant : </p>
  <p class="stylebleu" style="margin-left:500px"; >Domiciliation :	Ma banque à Paris<br>
    Code banque :	12345<br>
    Code guichet :	67890<br>
    N° de compte : 	109876543210<br>
    Clé RIB : 99<br>
    IBAN : FR76 1234 5678 9010987654321099<br>
    BIC : MBAPFRPP123</p>

  <p class="stylemove"  >2]Paiement classique :</p>
  <table style="width:100%; "   cellpadding=0 align="left" border=0 cellspacing=0>
            <tr align="right">
      <td width="10%" >
        <a action=""  ><img  height="78" width="125" src="assets/images/ChequeBancaire.jpeg" /></a>
      </td>
      <td width="10%" style="background-color:#9fc5f8">
        <h2 class="stylemove"  >Chèque bancaire</h2	>
      </td>

    </tr>
  </table><br>
  <p>
    <b class="stylebleu"  >Vous pouvez choisir de payer par</b>
    <b class="stylemove"  >Chèque bancaire</b>
  </p>

  <p class="stylebleu"  >Quand vous aurez réalisé la signature électronique de votre contrat, vous pourrez donc sélectionner le paiement par chèque bancaire, si la banque dont vous dépendez est domiciliée en France uniquement. <br>
    Validez votre souscription en cliquant sur le bouton « Terminez» de la page de souscription, et libellez votre chèque à l'ordre de l’assureur que vous aurez choisi.<br> L’ordre et l’adresse d’envoi du chèque seront affichés en ligne dans la page de souscription ainsi qu’envoyés sur votre adresse email sous la forme suivante: </p>
  <p class="stylebleu" >Ordre :&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;	« LASSUREUR »<br>
    Référence au dos du chèque : BROKINS – XXXXXXXXXXXXX<br>
    Adresse courrier :&emsp;&emsp;&emsp;&emsp;&emsp;« LASSUREUR »<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Service comptabilité<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; XX rue XXXXXXXXXXXXXXXX<br>
    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; XXXXXXXXX</p>

  <p class="stylemove"  >Joignez la photocopie de votre carte d'identité, votre chèque, et notez le numéro de référence de votre contrat au dos du chèque.</p>
  <p class="stylebleu"  >* Avec cette option de paiement par chèque, votre assurance sera définitive dès la réception et encaissement du chèque (ou 1er chèque) par l’assureur, soit sous 7 jours.  <br>
    * Un paiement par chèque en 3 fois, c'est possible! </p>
  <p class="stylebleu"  >Établissez dans ce cas trois chèques, tous datés du jour de la commande : <br>
    - Le 1er chèque : 	du tiers du montant de votre cotisation d’assurance et qui sera encaissé dès réception par l’assureur, donc sous 7 jours.<br>
    - Le 2ème chèque : 	du tiers du montant de votre cotisation d’assurance, qui sera encaissé 4 mois après l’encaissement du 1er chèque.<br>
    - Le 3ème chèque : 	du restant à payer, qui sera encaissé 4 mois après l’encaissement du 2ème chèque.  </p>
  <p class="stylemove"  >Sans réception de vos règlements dans les 10 jours ouvrables, votre souscription sera annulée, vous serez donc considéré comme n’ayant jamais été assuré par l'assureur depuis le jour de votre souscription.</p>
</div>
