<br>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div align="right">
  <a routerLink="/" style="align:right"><img src="assets/images/boutonretouraccueil.png" /></a>
</div>
<br>

<div style="margin-left:60px; background-color:white; border-width:0px;height:100px;" class="boxed">
  <br>
  <b><p style="font-family:Lato Bold; font-size:17px; font-weight:Regular; color:#b626c3; margin-left:10px;margin-top:10px;"  >Parlez-en à vos amis :</p>
    <p >
  </b><p style="font-family:Lato Bold; font-size:17px; font-weight:Regular; margin-left:10px; ">
  <b style="color:#456ba8;">Votre expérience avec Brokins vous a plu, n'hésitez pas à nous recommander auprès de vos connaissances </b>

</p>

</div>

<form style="margin-left:60px">
  <div >
    <table style="width:100%; border:collapse;margin-top: 0px;
    margin-bottom: 0px;
    line-height: 5px; " id="cssTable" cellpadding=0 align="left" border=0 cellspacing=0>
            <tr>
        <td width="35%">
          <p class="formtext" ><b style="color:white;">Votre Nom </b><b style="color:#b626c3;">*</b></p>
          <p class="formtext" ><b style="color:white">(afin qu'ils sachent que c'est bien vous)</b></p>
        </td>

        <td>
          <input style="border:0px;" type="text" name="nom" width="50 px">
        </td>
      </tr>


      <tr>
        <td>
          <p class="formtext" ><b style="color:white">Votre email</b><b style="color:#b626c3;"> *</b></p>
          <p class="formtext" ><b style="color:white">(pour pouvoir envoyer le message)</b></p>
        </td>

        <td>
          <input style="border:0px;" type="text" name="email" width="50 px">
        </td>
      </tr>

      <tr>
        <td>
          <p class="formtext" ><b style="color:white">Emails de vos connaissances </b><b style="color:#b626c3;">*</b></p>
        </td>

        <td>
          <input style="border:0px;" type="text" name="emails" width="50 px">
        </td>
      </tr>
      <tr>
        <td>

        </td>

        <td>
          <input style="border:0px;" type="text" name="emails" width="50 px">
        </td>
      </tr>
      <tr>
        <td>

        </td>

        <td>
          <input style="border:0px;" type="text" name="emails" width="50 px">
        </td>
      </tr>
      <tr>
        <td>

        </td>

        <td>
          <input style="border:0px;" type="text" name="emails" width="50 px">
        </td>
      </tr>

    </table>
  </div>


  <div>
    <br><br><BR><BR>
    <div style="background-color:white; height:270px;width:1410px; margin-top:265px;">
      <br><BR><BR>
      <fieldset style="margin-top:20px;width:1330px;margin-left:30px;border-width:0.5px;border-color:#9fc5f8 ">

        <legend style="color:#b626c3;">TEXTE DU MAIL QUI SERA ENVOYE :</legend>
        <p style="font-family:Lato; font-size:15px; color:#446ba8; text-align:left;">Bonjour,<br> <br>

          Ce message rapide pour te recommander un site : www.brokins.fr.<br>
          Un courtier en ligne comparateur de produits d'assurance pour les professionnels et les entreprises. Il peut aussi t'aider à trouver l'assurance dont tu as besoin en fonction de ton activité.
          Enfin, tu peux payer et signer en ligne, et donc être assuré en moins de 5 minutes.<br><br>

          Cdt</p>


    </fieldset>
    <br><br><br>
    <div align="left">
      <a routerLink="" style="align:right"><img src="assets/images/boutonenvoyez.png" height="50" width="162"  /></a>
    </div>
  </div>

