<br>
<div align="right">
  <a action="" style="align:right"><img src="assets/images/boutonretour.png" /></a>
</div>
<br>

<div style="background-color:white; border-width:0px;" class="boxed">
  <br>
  <b><p style="font-family:Lato Bold; font-size:17px; font-weight:Regular; color:#b626c3; "  >Parlez-en à vos amis :</p>
    <p >
  </b><p style="font-family:Lato Bold; font-size:17px; font-weight:Regular; ">
  <b style="color:#456ba8;">Votre expérience avec Brokins vous a plu, n'hésitez pas à nous recommander auprès de vos connaissances </b>

</p>

</div>

<form>
  <div >
    <table style=" border:collapse; line-height: 15px; " id="cssTable" cellpadding=0 align="left" border=0 cellspacing=0>

      <tr>
        <td  width="35%">
          <p class="formtext" ><b style="color:white;">Votre Nom </b><b style="color:#b626c3;">*</b></p>
          <p class="formtext" ><b style="color:white">(afin qu'ils sachent que c'est bien vous)</b></p>
        </td>

        <td  width="35%">
          <input style="border:0px;" type="text" name="nom" >
        </td>
      </tr>


      <tr>
        <td  width="35%">
          <p class="formtext" ><b style="color:white">Votre email</b><b style="color:#b626c3;"> *</b></p>
          <p class="formtext" ><b style="color:white">(pour pouvoir envoyer le message)</b></p>
        </td>

        <td  width="35%">
          <input style="border:0px;" type="text" name="email" >
        </td>
      </tr>

      <tr>
        <td  width="65%">
          <p class="formtext" ><b style="color:white">Emails de vos connaissances </b><b style="color:#b626c3;">*</b></p>
        </td>

        <td  width="35%">
          <input style="border:0px;" type="text" name="emails" >
        </td>
      </tr>
      <tr>
        <td>

        </td>

        <td width="35%">
          <input style="border:0px;" type="text" name="emails" >
        </td>
      </tr> <br><br>
      <tr>
        <td  width="35%">

        </td>

        <td  width="85%">
          <input  style="border:0px;" type="text" name="emails" >
        </td>
      </tr>
      <br><br>
      <tr>
        <td >

        </td>

        <td  width="35%">
          <input style="border:0px;" type="text" name="emails" >
        </td>
      </tr>

    </table>
  </div>
  <br><br><br>  <br><br><br>
  <br><br><br>
  <br><br><br>

  <br><br><br>

  <br>

  <div>
    <br><br>
    <div style="background-color:white;">
      <br>
      <fieldset style="border-width:0.5px;border-color:#9fc5f8 ">

        <legend style="color:#b626c3;">TEXTE DU MAIL QUI SERA ENVOYE :</legend>
        <p style="font-family:Lato; font-size:15px; color:#446ba8; text-align:left;">Bonjour,<br> <br>

          Ce message rapide pour te recommander un site : www.brokins.fr.<br>
          Un courtier en ligne comparateur de produits d'assurance pour les professionnels et les entreprises. Il peut aussi t'aider à trouver l'assurance dont tu as besoin en fonction de ton activité.
          Enfin, tu peux payer et signer en ligne, et donc être assuré en moins de 5 minutes.<br><br>

          Cdt</p>

    </fieldset>
    <br><br>

    </div>
  </div>
</form>
<br>
<div align="left">
  <a action="" style="align:right"><img src="assets/images/boutonenvoyez.png" height="50" width="162"  /></a>
</div>
