<br>

<form style="margin-left:15px">

    
    
    <div style="background-color:white; padding:15px;">
        <div style="text-align:right">
            <p style="text-align:right"><select>
                    <option >Produit Assurance</option>
                    <option >Produit Assurance</option>
                    <option >Produit Assurance</option>
                    <option >Produit Assurance</option>
                </select>&nbsp;<label class="stylemove    ">Foire aux Questions </label></p>
        </div>
        <table width="100%" style="border-collapse: collapse; border:1px solid black; border-right: 1px solid black; ">


            <tr style="background-color:#A9A9A9">
                <td width="20%"><label class="stylemove">Vos assurances obligatoires (Au regard de la loi)</label></td>
                <td width="60%"><label class="stylemove">Explication</label></td>
                <td width="10%" class="stylemove" style="padding-left: 15px;"><label class="stylemove">Prix</label></td>
                <td class="stylemove">Action</td>
            </tr>
            <tr class="impair1">
                <td class="stylewhite">1]Assurance de Responsabilité</td>
                <td><label class="stylewhite">blablablabl blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla</label></td>
                <td  align=center><label>Entre<br>145€ et 450€</label></td>
                <td><a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a><br>
                <a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a>
                </td>
            </tr>
            <tr class="impair">
                <td class="stylewhite">°Responsabilité Civile Professionnelle</td>
                <td><label class="stylewhite">blablablabl blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla</label></td>
                <td  align=center><label>Entre<br>145€ et 450€</label></td>
                <td><a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a><br>
                <a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a>
                </td>
            </tr>
            <tr class="impair1">
                <td class="stylewhite">2] Assurance de Biens</td>
                <td><label class="stylewhite">blablablabl blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla</label></td>
                <td  align=center><label>Entre<br>145€ et 450€</label></td>
                <td><a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a><br>
                <a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a>
                </td>
            </tr>
            <tr class="impair1">
                <td class="stylewhite">°Multirisque Professionnel</td>
                <td><label class="stylewhite">blablablabl blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla</label></td>
                <td  align=center><label>Entre<br>145€ et 450€</label></td>
                <td><a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a><br>
                <a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a>
                </td>
            </tr>
            <tr class="impair">
                <td class="stylewhite">3] Assurance de Personne</td>
                <td><label class="stylewhite">blablablabl blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla</label></td>
                <td  align=center><label>Entre<br>145€ et 450€</label></td>
                <td><a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a><br>
                <a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a>
                </td>
            </tr>
            <tr class="impair1">
                <td class="stylewhite">° Santé de vos Salariés</td>
                <td><label class="stylewhite">blablablabl blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla</label></td>
                <td  align=center><label>Entre<br>145€ et 450€</label></td>
                <td><a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a><br>
                <a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a>
                </td>
            </tr>
            <tr class="impair1">
                <td class="stylewhite">° Votre Santé</td>
                <td><label class="stylewhite">blablablabl blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla</label></td>
                <td  align=center><label>Entre<br>145€ et 450€</label></td>
                <td><a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a><br>
                <a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a>
                </td>
            </tr>
            <tr class="impair">
                <td class="stylewhite">3] Assurance de Personne</td>
                <td><label class="stylewhite">blablablabl blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla</label></td>
                <td  align=center><label>Entre<br>145€ et 450€</label></td>
                <td><a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a><br>
                <a action="" style="align:right"><img width="80" height="18"  src="assets/images/boutonenvoyez.png" /></a>
                </td>
            </tr>
            <tr class="impair1">
                <td class="stylewhite">° Votre Prévoyance</td>
                <td><label class="stylewhite">blablablabl blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla\rblablablabl
                blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla blablablabla</label></td>
                <td  align=center><label>Entre<br>145€ et 450€</label></td>
                <td><a action="" style="align:right"><img width="80" height="18" src="assets/images/boutonenvoyez.png" /></a><br>
                    <a action="" style="align:right"><img width="80" height="18" src="assets/images/boutonenvoyez.png" /></a>
                    
                </td>
            </tr>
        </table>
        <br>
        <div align=center>
        <p>
            <a action="" style="align:right"><img width="127" height="32" src="assets/images/boutonenvoyez.png" /></a>
            <a action="" style="align:right"><img width="127" height="32" src="assets/images/boutonenvoyez.png" /></a>
        </p>
        </div>
    </div>
</form>