<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div style="margin-right:0px; margin-left:45px;">
    <table style="width:100%; border:collapse;margin-top: 0px;
		margin-bottom: 0px;
		line-height: 5px; " cellpadding=0 border=0 cellspacing=0>

        <tr>
            <td width="20%">
                <a href="/"><img src="assets/images/boutonretouraccueil.png" /></a>
            </td>
            <td width="60%" style="text-align:center;">
                <p class="stylebleu" style="color:white;font-size:20px;"><b>Vos demandes (Comparatits, Devis, Contrats)</b></p>
            </td>
            <td width="20%" style="text-align:right;">
                <a routerLink="/paiementprime"><img  src="assets/images/boutonvalidez.png" /></a>
            </td>
        </tr>
    </table>
</div>
<br>

<form style="margin-left:45px">
    <div>
        <table style="width:100%; border:collapse;margin-top: 0px;
    margin-bottom: 0px; border-spacing:10px; background-color:white;
    line-height: 5px; " cellpadding=0 align="left" border=0 cellspacing=10>

            <tr>
                <td width="33%" class="top" style="padding-right:0px; padding-left:0px;">

                    <fieldset style="border-width: 0.5px; border-color:#94a8cd">

                        <legend style="color:#b626c3">MES CONTRATS</legend>
                        <div style="background-color:white; height:500px;">
                            <p style="text-align:right; font-size:10px;">Dernière connexion le xx/xx/xx à xxhxx</p>
                            <div class="boxed" style="background-color:#6986b7; ">
                                <p class="stylebleu" style="color:white">Nom de la société</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Identifiant Brokins :</label>
                                    <label class="stylemove">xxxxxxxxxx</label>
                                </p>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-top: 3px; margin-left: 3px; margin-bottom: 3px; ">
                                <p class="stylemove">Mon contrat RC</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Prime annuelle : </label>
                                    <label class="stylemove" style="font-size:13px;">xxxxx €</label>
                                    <label class="stylebleu" style="color:white">- Echéance annuelle :</label>
                                    <label class="stylemove" style="font-size:13px;"> le XX/XX/XX</label>
                                </p>
                            </div>
                            <div align=center>
                                <a><img height="37" width="194" src="assets/images/boutonEspaceClient.png" /></a>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-left: 3px; margin-bottom: 3px; margin-top: 3px; ">
                                <p class="stylemove">Mon contrat Santé Entreprise</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Prime annuelle : </label>
                                    <label class="stylemove" style="font-size:13px;">xxxxx €</label>
                                    <label class="stylebleu" style="color:white">- Echéance annuelle :</label>
                                    <label class="stylemove" style="font-size:13px;"> le XX/XX/XX</label>
                                </p>
                            </div>
                            <div align=center>
                                <a><img height="37" width="194" src="assets/images/boutonEspaceClient.png" /></a>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-left: 3px; margin-bottom: 3px; margin-top: 3px;">
                                <p class="stylemove">Mes comparatifs en cours</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Nombre :</label>
                                    <label class="stylemove">X</label>
                                    <label class="stylebleu" style="color:white">- Type :</label>
                                    <label class="stylemove"> XXX, XXX, XXX</label>
                                </p>

                            </div>
                            <div align=center>
                                <a><img height="37" width="194" src="assets/images/boutonEspaceClient.png" /></a>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-left: 3px; margin-bottom: 3px; margin-top: 3px;">
                                <p class="stylemove">Mon autres contrat chez d'autres assureurs</p>
                            </div>
                            <div align=center>
                                <a><img height="37" width="194" src="assets/images/boutonEspaceClient.png" /></a>
                            </div>
                        </div>
                    </fieldset>
                </td>
                <td width="30%" class="top">
                    <fieldset style="border-width: 0.5px; border-color:#94a8cd">
                        <legend style="color:#b626c3">MES DEVIS</legend>
                        <div style="background-color:white; height:510px;">
                            <br style="margin-top:12px">
                            <br>
                            <div class="boxed" style="background-color:#6986b7; margin-top:15px;">
                                <p class="stylebleu" style="color:white">Nom de la société</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Identifiant Brokins :</label>
                                    <label class="stylemove">xxxxxxxxxx</label>
                                </p>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-top: 3px; margin-left: 3px; margin-bottom: 3px; ">
                                <p class="stylemove">Mon contrat RC</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Prime annuelle : </label>
                                    <label class="stylemove" style="font-size:13px;">xxxxx €</label>
                                    <label class="stylebleu" style="color:white">- Echéance annuelle :</label>
                                    <label class="stylemove" style="font-size:13px;"> le XX/XX/XX</label>
                                </p>
                            </div>
                            <div>
                                <table width="100%" style=" position:relative; margin-left:0px;" cellspacing=0; cellpadding=0; border=0>
                                    <tr>
                                        <td>
                                            <a><img height="37" width="184" src="assets/images/boutonEspaceClient.png" /></a>
                                        </td>
                                        <td style="align:right;" align=right>
                                            <a><img height="37" width="184" src="assets/images/boutonEspaceClient.png" /></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-left: 3px; margin-bottom: 3px; margin-top: 3px; ">
                                <p class="stylemove">Mon contrat Santé Entreprise</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Prime annuelle : </label>
                                    <label class="stylemove" style="font-size:13px;">xxxxx €</label>
                                    <label class="stylebleu" style="color:white">- Echéance annuelle :</label>
                                    <label class="stylemove" style="font-size:13px;"> le XX/XX/XX</label>
                                </p>
                            </div>
                            <div>
                                <table width="100%" style=" position:relative; margin-left:0px;" cellspacing=0; cellpadding=0; border=0>
                                    <tr>
                                        <td>
                                            <a><img height="37" width="184" src="assets/images/boutonEspaceClient.png" /></a>
                                        </td>
                                        <td style="align:right;" align=right>
                                            <a><img height="37" width="184" src="assets/images/boutonEspaceClient.png" /></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </td>
                <td width="30%" class="top">
                    <fieldset style="border-width: 0.5px; border-color:#94a8cd">
                        <legend style="color:#b626c3">MES COMPARATIFS</legend>
                        <div style="background-color:white; height:510px;">
                            <br style="margin-top:12px">
                            <br>
                            <div class="boxed" style="background-color:#6986b7; margin-top:15px;">
                                <p class="stylebleu" style="color:white">Mon Comparatif RC</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Identifiant Brokins :</label>
                                    <label class="stylemove">xxxxxxxxxx</label>
                                </p>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-top: 3px; margin-left: 3px; margin-bottom: 3px; ">
                                <p class="stylemove">Mon contrat RC</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Prime Basse : </label>
                                    <label class="stylemove" style="font-size:13px;">xxxxx €</label>
                                    <label class="stylebleu" style="color:white">- Date de demande :</label>
                                    <label class="stylemove" style="font-size:13px;"> le XX/XX/XX</label>
                                </p>
                            </div>
                            <div>
                                <table width="100%" style=" position:relative; margin-left:0px;" cellspacing=0; cellpadding=0; border=0>
                                    <tr>
                                        <td>
                                            <a><img height="37" width="184" src="assets/images/boutonEspaceClient.png" /></a>
                                        </td>
                                        <td style="align:right;" align=right>
                                            <a><img height="37" width="184" src="assets/images/boutonEspaceClient.png" /></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-top: 3px; margin-left: 3px; margin-bottom: 3px; ">
                                <p class="stylemove">Mon Comparatif Santé Entreprise</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Prime Basse : </label>
                                    <label class="stylemove" style="font-size:13px;">xxxxx €</label>
                                    <label class="stylebleu" style="color:white">- Date de demande :</label>
                                    <label class="stylemove" style="font-size:13px;"> le XX/XX/XX</label>
                                </p>
                            </div>
                            <div>
                                <table width="100%" style=" position:relative; margin-left:0px;" cellspacing=0; cellpadding=0; border=0>
                                    <tr>
                                        <td>
                                            <a><img height="37" width="184" src="assets/images/boutonEspaceClient.png" /></a>
                                        </td>
                                        <td style="align:right;" align=right>
                                            <a><img height="37" width="184" src="assets/images/boutonEspaceClient.png" /></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </td>

            </tr>
        </table>
    </div>


</form>

<div style="margin-top:15px;">
    <br>
    <table style="width:96.5%; margin-top: 5px; margin-left:45px;  " cellpadding=0 align="center" border=0 cellspacing=0>

        <tr>
        </tr>
        <tr style="text-align:center; margin-left: 20px;">
            <td width="30%" class="top" style=" padding:0 60px 0 60px;">
                <div style="background-color:#94a8cd;   " width="10">
                    <br><label class="stylebleu" style="color:white; padding: 5px; ">Vous ne savez pas de quelle assurance vous avez besoin pour votre activité? </label>
                </div>
            </td>

            <td width="30%" class="top" style=" padding:0 60px 0 60px;">
                <div style="background-color:#94a8cd;  " width="10">
                    <br><label class="stylebleu" style="color:white; padding: 5px; ">Vous savez de quelle assurance vous avez besoin pour votre activité? </label>
                </div>
            </td>
            <td width="30%" class="top" style=" padding:0 60px 0 60px;">
                <div style="background-color:#94a8cd;  " width="10">
                    <br><label class="stylebleu" style="color:white; padding: 5px; ">Vous savez de quelle assurance vous avez besoin pour votre activité? </label>
                </div>
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <a routerLink="/apropos"><img align=center height="135" width="180" src="assets/images/GrosBouton1.png" /></a>
            </td>
            <td>
                <a routerLink="/devisproduit"><img align=center height="135" width="180" src="assets/images/Grosbouton2.png" /></a>
            </td>
            <td>
                <a routerLink="/felicitationmdplogin"><img align=center height="135" width="180" src="assets/images/Grosbouton3.png" /></a>
            </td>
        </tr>
    </table>

</div>
