<br>
<div style=" width:1400px; margin-left:50px;border-width:0px;overflow:hidden;">
    <div style="background-color:white;width:1400px;height:1000px;margin-top:-8">
        <br>
        <fieldset style="color:#6a89b9;border-width:0.5px;margin-top:2px;margin-left:15px; border-color:#9fc5f8;width:1340px;">
            <legend style="colorcolor:#b626c3; font-size:17px;"><b style="color:#b626c3;">CONDITIONS DE RESILIATION	</b></legend>
            <div style="background-color:#94a8cd;width:1330px;margin-left:5px;height:80px;">
                <p>           
                    <label style="color:white ; font-size:17px;margin-left:25px;margin-top:-15px;">Vous êtes en retard pour le paiement de votre prime ?</label>
                    <label style="color:white; margin-left:25px;font-size:17px;"> Sélectionner le contrat en question et laissez vous guider</label>
                </p>
                <br>
            </div>
            <div style="background-color:white;width:1330px;margin-left:5px;height:80px; ">
                <p>
                    <br>
                    <label style="color:#b626c3; ; font-size:17px;margin-left:25px;margin-top:-15px;">Vous pouvez payer le montant qui vous est demandé par votre assureur, directement depuis votre espace client, il vous suffit pour cela de connaître le montant à payer, et de le saisir.</label>
                    <label style="color:#95a7cb;; margin-left:25px;font-size:17px;"> Votre paiement est directement encaissé par votre assureur, vous serez donc instantanément à jour de
                        vos cotisations</label>
                </p>
                <br>
            </div>
            <div style="margin-left:28px;">
                <table style="width:50%;height:25%">
                    <tr style="width:20px">
                        <td><b><label  style="color:#6a89b9; width:520px;"for="nom" >Sélectionner votre contrat : <b style="color:#b626c3;">*</b></label>
                            </b>
                        </td>
                        <td style="margin-left:240px;"><select style="width:380px;">
<option value="volvo">Test1</option>
<option value="saab">Test2</option>
<option value="opel">Test3</option>
<option value="audi">Test4</option>
</select></td>

                    </tr>
                    <tr>
                        <br>
                        <td><label style="color:#6a89b9;" for="nom">Montant à Payer <b style="color:#b626c3;">*</b></label></td>
                        <td style="margin-left:240px;"> <input style="width:145px;" id="nom">
                        </td>
                    </tr>
                </table>
                <p><b>Choisissez votre mode de paiement ?</b> </p>
                <div style="margin-left:600px;width:80px;margin-top:-40px;width:20px;">
                    <label class="container">
<input type="checkbox" checked="checked">
<span class="checkmark"></span>
</label>
                    <img src="assets/images/Capture18.png" alt="HTML tutorial" style="margin-top:-5px;margin-left:30px;width:60px;">
                    <br><br><br> <br><br>
                    <div align=center>
                        <p class="two1" style="width:1300px;margin-left:-600px;">...</p>
                    </div>
                    <br>
                </div>
                <b>
<p style="color:#b626c3;margin-left:0px;">Une fois que vous aurez saisi votre carte bancaire, vous serez assuré et recevrez par mail votre attestation d'assurance.
<br><p>Le montant que vous devez payer s'élève à : <b style="color:black;">xxx.xx</b> € TTC </p>
                
                    <label>Brokins n'encaisse aucun fond, le paiement va directement dans le compte de l'assureur du produit que vous
                    avez choisi.</label> <br>
                    <br><label>paiement est sécurisé par </label><a href="http://www.lemonway.fr" style="color:#b626c3;">lemonway</a></p>
                
                <p style="color:#b626c3;font-size:17px;margin-left:252px;"> <b style="color:#b626c3;">IMPORTANT :</b>Vous avez jusqu'à 15 jours pour demander un remboursement intégral
                    auprès de l'assureur.</p>

                </b>
            </div>
            <br><br>
            <img src="assets/images/Capture26.png" alt="HTML tutorial" style="margin-top:-5px;margin-left:360px;width:600px;height:100px;">
   
    </fieldset>
</div>
</div>
    