<br>
<div class="mq" style="border-width:0px;">
  <b><input style="width:127px;height:32px;" id="image" type="image" alt="Connexion"
            src="assets/images/boutonsretour.png"></b>
  <br><br>
  <div class="mq" style="background-color:white;padding:15px;">
    <br>
    <fieldset class="mq" style="color:#6a89b9;border-width:0.5px; border-color:#9fc5f8;padding:10px;">
      <legend style="colorcolor:#b626c3; font-size:17px;"><b style="color:#b626c3;" >CONDITIONS DE RESILIATION	</b></legend>
      <div class="mq" style="background-color:#94a8cd;padding:10px;">
          <br>
          <strong><h1 style="color:white ; font-size:17px;">Vous êtes en retard pour le paiement de votre prime ?</h1></strong>
        <h4> style="color:white; font-size:17px;"> Sélectionner le contrat en question et laissez vous guider</h4>

        <br>
      </div>
      <div class="mq" style="background-color:white;padding:10px;">
                  <br>
          <strong><h1 style="color:#b626c3; ; font-size:17px;">Vous pouvez payer le montant qui vous est demandé par votre assureur, directement depuis votre espace client, il vous suffit pour cela de connaître le montant à payer, et de le saisir.</h1></strong>
        <h4 style="color:#95a7cb;font-size:17px;"> Votre paiement est directement encaissé par votre assureur, vous serez donc instantanément à jour de vos cotisations</h4>
                <br>
      </div>
      <div>
        <table class="mq" style="width:50%;height:25%">
          <tr>
            <td><b><label  style="color:#6a89b9;"for="nom" >Sélectionner votre contrat : <b style="color:#b626c3;">*</b></label></b> </td>
            <td style="margin-left:240px;"><select>
              <option value="volvo">Test1</option>
              <option value="saab">Test2</option>
              <option value="opel">Test3</option>
              <option value="audi">Test4</option>
            </select></td>

          </tr>
          <tr>
            <br>
            <td><label  style="color:#6a89b9;"for="nom" >Montant à Payer <b style="color:#b626c3;">*</b></label></td>
            <td> <input  style="width:145px;" id="nom" ></td>
          </tr>
        </table>

        <div class="mq">
          <table style="width:42%;height:20%">
            <tr>
              <td><label  style="color:#6a89b9; "for="nom" >Choisissez votre mode de paiemment ?<b style="color:#b626c3;">*</b></label></td>
              <td>
                <label class="container">
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <img src="assets/images/Capture18.png" style="margin-top:15%" alt="HTML tutorial" style="">
              </td>
            </tr>
          </table>
          <br><br><br>
          <div class="mq">
               <p class="two1"></p>
              </div>
          <br>
        </div>
        <b>
          <p style="color:#b626c3;margin-left:25%">Une fois que vous aurez saisi votre carte bancaire, vous serez assuré et recevrez par mail votre attestation d'assurance.
            <br><p style="margin-left:25%">Le montant que vous devez payer s'élève à : <b style="color:black;margin-left:25%">xxx.xx</b> € TTC </p>
          <p style="margin-left:25%">Brokins n'encaisse aucun fond, le paiement va directement dans le compte de l'assureur du produit que vous avez choisi. <br>
            <br>Le paiement est sécurisé par <a href="http://www.lemonway.fr" style="color:#b626c3;" >lemonway</a></p><br><br>
          <p style="color:#b626c3;font-size:17px;margin-left:25%"> <b style="color:#b626c3;margin-left:-1%">IMPORTANT :</b>Vous avez jusqu'à 15 jours pour demander un remboursement intégral auprès de l'assureur.</p>

        </b>
      </div>
      <br><br>
      <img src="assets/images/Capture26.png" style="margin-left:25%" alt="HTML tutorial" />

  </fieldset>
</div>
  </div>
