<meta charset="utf-8">
<br>
<div style="margin-right:0px; margin-left:45px;">
    <table style="width:100%; border:collapse;margin-top: 0px;
		margin-bottom: 0px;
		line-height: 5px; " cellpadding=0 border=0 cellspacing=0>

        <tr>
            <td width="20%">
                <a action=""><img src="assets/images/boutonretouraccueil.png" /></a>
            </td>
            <td width="60%" align=center>
                <p class="stylebleu" style="color:white; font-size:20px;"><b>Félicitations {{ data.user.UserName }}  Vous êtes connecté à votre espace client Brokins.</b></p>
            </td>
            <td width="20%" align=right>
                <a><img  src="assets/images/getseal.gif" /></a>
            </td>
        </tr>
    </table>
</div>
<br>

<form style="margin-left:45px">
    <div>
        <table style="width:100%; border:collapse;margin-top: 0px;
    margin-bottom: 0px; border-spacing:10px; background-color:white;
    line-height: 5px; " cellpadding=0 align="left" border=0 cellspacing=10>

            <tr>
                <td width="30%" class="top" style="padding-right:0px; padding-left:0px;">

                    <fieldset style="border-width: 0.5px; border-color:#94a8cd">

                        <legend style="color:#b626c3">MES DEMANDES</legend>
                        <div style="background-color:white; height:400px;">
                            <p style="text-align:right; font-size:10px;">Dernière connexion le {{ userData.last_login | date:'short' }}</p>
                            <div class="boxed" style="background-color:#6986b7; ">
                                <p class="stylebleu" style="color:white">Nom de la société</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Identifiant Brokins :</label>
                                    <label class="stylemove">xxxxxxxxxx</label>
                                </p>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-top: 3px; margin-left: 3px; margin-bottom: 3px; ">
                                <p class="stylebleu" style="color:white">Mes contrats en cours</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Nombre :</label>
                                    <label class="stylemove">X</label>
                                    <label class="stylebleu" style="color:white">- Type :</label>
                                    <label class="stylemove"> XXX, XXX, XXX</label>
                                </p>
                            </div>
                            <div align=center>
                                <a><img height="37" width="194" src="assets/images/boutonEspaceClient.png" /></a>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-left: 3px; margin-bottom: 3px; margin-top: 3px; ">
                                <p class="stylebleu" style="color:white">Mes devis en cours</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Nombre :</label>
                                    <label class="stylemove">X</label>
                                    <label class="stylebleu" style="color:white">- Type :</label>
                                    <label class="stylemove"> XXX, XXX, XXX</label>
                                </p>
                            </div>
                            <div align=center>
                                <a><img height="37" width="194" src="assets/images/boutonEspaceClient.png" /></a>
                            </div>
                            <div class="boxed" style="background-color:#94a8cd; margin-left: 3px; margin-bottom: 3px; margin-top: 3px;">
                                <p class="stylebleu" style="color:white">Mes comparatifs en cours</p>
                                <p>
                                    <label class="stylebleu" style="color:white">Nombre :</label>
                                    <label class="stylemove">X</label>
                                    <label class="stylebleu" style="color:white">- Type :</label>
                                    <label class="stylemove"> XXX, XXX, XXX</label>
                                </p>

                            </div>
                            <div align=center>
                                <a><img height="37" width="194" src="assets/images/boutonEspaceClient.png" /></a>
                            </div>
                        </div>
                    </fieldset>
                </td>
                <td width="30%" class="top">
                    <fieldset style="border-width: 0.5px; border-color:#94a8cd">
                        <legend style="color:#b626c3">MES DONNEES PERSONNELLES</legend>
                        <div style="background-color:white; height:400px;">
                            <br style="margin-top:12px">
                            <br>
                            <div class="boxed" style="background-color:#6986b7; margin-top:15px;">
                                <p class="stylebleu" style="color:white">Visualisez et modifiez vos informations personnelles</p>
                                <p>
                                    <label class="stylemove">Certaines informations peuvent modifier la prime</label>
                                </p>
                            </div>
                            <table style="width:100%; border:collapse;margin-top: 0px;
    margin-bottom: 0px; border-spacing:3px; margin-left: 0px;
    line-height: 5px; " cellpadding=0 align="left" border=0 cellspacing=0>

                                <tr>
                                    <td width="70%" class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">

                                            <p>
                                                <label class="stylebleu" style="color:white">ETAT CIVIL</label>
                                                <label class="stylemove">(nom, société, ...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td width="70%" class="top">
                                        <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">

                                            <p>
                                                <label class="stylebleu" style="color:white">ADRESSES</label>
                                                <label class="stylemove">(rue, ville, ...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">

                                            <p>
                                                <label class="stylebleu" style="color:white">TELEPHONES</label>
                                                <label class="stylemove">(fixe, mobile, ...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">

                                            <p>
                                                <label class="stylebleu" style="color:white">EMAILS</label>
                                                <label class="stylemove">(mail société, dirigeant, ...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127"  src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">

                                            <p>
                                                <label class="stylebleu" style="color:white">MOT DE PASSE</label>
                                                <label class="stylemove">(espace client)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127"  src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">

                                            <p>
                                                <label class="stylebleu" style="color:white">SITUATION</label>
                                                <label class="stylemove">(CA, activités,...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </fieldset>
                </td>
                <td width="30%" class="top">
                    <fieldset style="border-width: 0.5px; border-color:#94a8cd">
                        <legend style="color:#b626c3">MES SERVICES</legend>
                        <div style="background-color:white; height:400px;">
                            <br>
                            <br>
                            <div class="boxed" style="background-color:#6986b7; margin-top:15px;">
                                <p class="stylebleu" style="color:white">Des services qui vous facilitent la vie</p>
                                <p>
                                    <label class="stylemove">Les services s'enrichissent chaque jour</label>
                                </p>

                            </div>

                            <table style="width:100%; border:collapse;margin-top: 0px;
    margin-bottom: 0px; border-spacing:3px; margin-left: 0px;
    line-height: 5px; " cellpadding=0 align="left" border=0 cellspacing=0>

                                <tr>
                                    <td width="70%" class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">
                                            <p>
                                                <label class="stylebleu" style="color:white">Curation</label>
                                                <label class="stylemove">(Politique,sports,techno,...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top" width="30%">
                                        <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">
                                            <p>
                                                <label class="stylebleu" style="color:white">Contacts Assureurs</label>
                                                <label class="stylemove">(Tél., adresse, ....)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">
                                            <p>
                                                <label class="stylebleu" style="color:white">Attestation d'assurance</label>
                                                <label class="stylemove">(xxxxx, ...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">
                                            <p>
                                                <label class="stylebleu" style="color:white">Résiliation</label>
                                                <label class="stylemove">(xxxxx, ...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127"  src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">
                                            <p>
                                                <label class="stylebleu" style="color:white">Réclamation</label>
                                                <label class="stylemove">(Problèmes, ...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127"  src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">
                                            <p>
                                                <label class="stylebleu" style="color:white">Payer votre prime</label>
                                                <label class="stylemove">(Impayé,...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="top" style="padding-right:0px; padding-left:0px;">
                                        <div class="boxed" style="background-color:#94a8cd; ">
                                            <p>
                                                <label class="stylebleu" style="color:white">Renonciation</label>
                                                <label class="stylemove">(Sous 14 jours,...)</label>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="top">
                                        <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </td>

            </tr>
        </table>
    </div>


</form>

<div style="margin-top:15px;">
    <br>
    <table style="width:96.5%; margin-top: 5px; margin-left:45px;  " cellpadding=0 align="center" border=0 cellspacing=0>

        <tr>
        </tr>
        <tr style="text-align:center; margin-left: 20px;">
            <td width="30%" class="top" style=" padding:0 60px 0 60px;">
                <div style="background-color:#94a8cd;   " width="10">
                    <br><label class="stylebleu" style="color:white; padding: 5px; ">Vous ne savez pas de quelle assurance vous avez besoin pour votre activité? </label>
                </div>
            </td>

            <td width="30%" class="top" style=" padding:0 60px 0 60px;">
                <div style="background-color:#94a8cd;  " width="10">
                    <br><label class="stylebleu" style="color:white; padding: 5px; ">Vous savez de quelle assurance vous avez besoin pour votre activité? </label>
                </div>
            </td>
            <td width="30%" class="top" style=" padding:0 60px 0 60px;">
                <div style="background-color:#94a8cd;  " width="10">
                    <br><label class="stylebleu" style="color:white; padding: 5px; ">Vous savez de quelle assurance vous avez besoin pour votre activité? </label>
                </div>
            </td>
        </tr>
        <tr style="text-align: center">
            <td>
                <a><img align=center height="135" width="180" src="assets/images/GrosBouton1.png" /></a>
            </td>
            <td>
                <a><img align=center height="135" width="180" src="assets/images/Grosbouton2.png" /></a>
            </td>
            <td>
                <a><img align=center height="135" width="180" src="assets/images/Grosbouton3.png" /></a>
            </td>
        </tr>
    </table>
    <br>

    <div align=center>
        <h3 class="stylebleu" style="color:white;font-size:20px;">Si vous avez 3 secondes n'hésitez pas à noter votre première expérience sur Brokins.fr<br>Merci</h3>
        <span class="starRating">
        <input id="rating5" type="radio" name="rating" value="5" >
        <label for="rating5">5</label>
        <input id="rating4" type="radio" name="rating" value="4" >
        <label for="rating4">4</label>
        <input id="rating3" type="radio" name="rating" value="3" checked >
        <label for="rating3">3</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
      </span>
    </div>
    <br><br>
    <table style="width:100%; border:collapse;margin-top: 0px;
    margin-bottom: 0px; border-spacing:10px;
    line-height: 15px; " cellpadding=0 align="left" border=0 cellspacing=10>


        <tr>
            <td class="top" align=left width="30%">
                <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
            </td>
            <td class="top" align=center width="30%">
                <label class="stylemove" style="font-size:20px;">A bientôt sur Brokins.fr</label>
            </td>
            <td class="top" align=right width="30%">
                <a><img height="32" width="127" src="assets/images/boutonEspaceClient.png" /></a>
            </td>
        </tr>
    </table>
</div>
