<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<form style="margin-left:45px">

    <br>


    <div style="padding: 5px;  background-color:#95a7cb; border: 1px solid white;">
        <label class="stylemove" style="font-size: 17px;">Se tromper ça arrive ! Vous souhaitez renoncer à votre contrat XXXXXXXXXXXXX :</label>
    </div><br>
    <div style=" background-color:white; border-width: 0.5px; border-color:#94a8cd" class="boxed">
        <p style="margin-left:5px; padding-top: 0px;">
            <label class="stylemove">Conditions de renonciation de votre contrat : </label><br>
            <label class="stylebleu">A la signature d’un contrat d’assurance, le signataire a le droit de se rétracter (annuler) pour se désengager de ce contrat.
			<br><br>
			Pour un contrat signé via internet vous avez </label><label class="stylemove">14 jours</label><label class="stylebleu"> pour vous rétracter (annuler). Mais, si vous signez un contrat d'assurance dont la date d'effet </label>
            <label
                class="stylemove">(date démarrage de l'assurance) a moins de 7 jours </label><label class="stylebleu">(démarrage immédiat ou dans 7 jours), alors la rétractation de l’assurance est </label>
                <label
                    class="stylemove">impossible</label>.
                    <br><br>
                    <label class="stylebleu">Par contre, pour un contrat signé mais dont la date d’effet ne prend que plus tard (dans minimum 1 semaine, un mois), vous avez bien 14 jours de délai de rétractation.</label>
        </p>
    </div><br>
    <div>
        <fieldset style="border-width: 0.5px; border-color:#94a8cd">
            <legend class="stylemove">VOTRE COURRIER DE RENONCIATION ENVOYE A L'ASSUREUR</legend>
            <p class="stylebleu">Madame, Monsieur,<br>
                    <label class="stylebleu">Le XX XXXX 20XX j’ai souscrit auprès de votre compagnie une protection </label>
                    <label
                        class="stylemove">XXXXXXXXXXX</label><label class="stylebleu">(Réf produit) via le courtier Brokins.fr.
					Je vous informe que je souhaite renoncer à mon contrat N° </label><label class="stylemove">XXXXXXX</label> <label class="stylebleu">immédiatement.

					<br><br>Par ailleurs, je vous prie de me rembourser les cotisations déduction faite de la cotisation au prorata de la période de garantie. Jem’engage de mon côté à rembourser le montant des prestations qui ont pu m’être versées.</label>
            </p>
        </fieldset>
    </div>

    <table width="100%">
        <tr>
            <td align="left">
                <a action="" style="align:right"><img width="127" height="32" src="../imageBrokins/boutonvalidez.png" /></a>
            </td>
            <td align="right">
                <a action="" style="align:right"><img width="127" height="32" src="../imageBrokins/boutonretour.png" /></a>
            </td>
        </tr>
    </table>
</form>
