<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<form style="margin-left:15px">

    <table width="100%" style="background-color:white;  " border=0.5>
        <tr>
            <td>
                <label class="stylemove">Devis</label>
            </td>
            <td>
                <label class="stylemove">Identité</label>
            </td>
            <td>
                <label class="stylemove">Date du devis</label>
            </td>
            <td>
                <label class="stylemove">Status</label>
            </td>
        </tr>
        <tr>
            <td>
                <label class="stylebleu">DEVXXXXXXXXXXXX</label>
            </td>
            <td>
                <label class="stylebleu">Nom entreprise </label>
            </td>
            <td>
                <label class="stylebleu">XX.XX.20XX</label>
            </td>
            <td>
                <label class="stylebleu">En attente de validation</label>
            </td>
        </tr>
    </table>
    <br>
    <div style="background-color:white; padding:15px;">
        <table width="100%" style="margin-top:2px; border-color:#9fc5f8;">

            <tr>
                <td width="45%" class="top">
                    <table width="100%" style="border-collapse: collapse;">

                        <tr class="pair">
                            <td width="60%"><label class="stylemove">Documents demandés</label></td>
                            <td width="20%"><label class="stylemove">Statut</label></td>
                            <td width="10%"></td>
                        </tr>
                        <tr class="impair">
                            <td>XXXXXXXXXX</td>
                            <td><label>je l'ai</label></td>
                            <td align="righ"><input type="checkbox" /></td>
                        </tr>
                        <tr class="pair">
                            <td>XXXXXXXXXX</td>
                            <td>je l'ai</td>
                            <td align="righ"><input type="checkbox" /></td>
                        </tr>
                        <tr class="impair">
                            <td>XXXXXXXXXX</td>
                            <td><label>je l'ai</label></td>
                            <td align="righ"><input type="checkbox" /></td>
                        </tr>

                    </table>
                </td>
                <td width="3%"></td>
                <td width="45%" style="text-align: center;">
                    <div class="boxed" style="background-color:#94a8cd; border: #94a8cd; ">
                        <label class="stylebleu" style="color:white">Je charge mes documents</label>
                    </div><br>
                    <div class="boxed" style="background-color:white; height: 100px;">
                        <br><br>
                        <label><i>Cliquez ici pour charger vos documents</i></label>
                    </div>
                    <div><br>
                        <label class="stylemove">OU</label><br><br>
                    </div>
                    <div class="boxed" style="background-color:#94a8cd; border: #94a8cd;">
                        <label class="stylebleu" style="color:white">J'envoie les documents par mail</label>
                    </div>
                    <p>
                        <label class="stylemove" style="color: black;">Transmettez-nous les documents sur</label>
                        <label
                            class="stylemove">souscription@brokins.fr</label>
                            <p>
                                <label class="stylebleu" style="font-size:17px;">Pensez à indiquer le nunémro de DEVIS ou de CONTRAT dans votre email.</label>




                </td>
            </tr>
        </table>
    </div><br>
    <div style="background-color:white; padding:15px;">
        <table width="100%" style="border-collapse: collapse;">


            <tr class="impair">
                <td width="60%"><label class="stylemove">Documents envoyés</label></td>
                <td width="20%"><label class="stylemove">Date d'envoi</label></td>
                <td width="10%" class="stylemove" style="border-right:none; border-left: 1px solid black; padding-left: 15px;">Reçu</td>
                <td class="stylemove">Action</td>
            </tr>
            <tr class="impair1">
                <td class="stylewhite">XXXXXXXXXX</td>
                <td style="border-left:none; border-right: 1px solid black; "><label class="stylewhite">XXXXXXX</label></td>
                <td style="padding-left: 30px;"><input type="checkbox" /></td>
                <td><a action="" style="align:right"><img width="24" height="18" src="../imageBrokins/eye.png" /></a>
                    <a action="" style="align:right"><img width="24" height="18" src="../imageBrokins/doanlowd.png" /></a>
                    <a action="" style="align:right"><img width="20" height="18" src="../imageBrokins/poubelle.png" /></a>
                </td>
            </tr>
            <tr class="impair">
                <td class="stylewhite">XXXXXXXXXX</td>
                <td style="border-left:none; border-right: 1px solid black;" class="stylewhite">XXXXXXXX</td>
                <td style="padding-left:30px;"><input type="checkbox" /></td>
                <td><a action="" style="align:right"><img width="24" height="18" src="../imageBrokins/eye.png" /></a>
                    <a action="" style="align:right"><img width="24" height="18" src="../imageBrokins/doanlowd.png" /></a>
                    <a action="" style="align:right"><img width="20" height="18" src="../imageBrokins/poubelle.png" /></a>
                </td>
            </tr>
            <tr class="impair1">
                <td class="stylewhite">XXXXXXXXXX</td>
                <td style="border-left:none; border-right: 1px solid black;"><label class="stylewhite">XXXXXXXX</label></td>
                <td style="padding-left:30px;"><input type="checkbox" /></td>
                <td><a action="" style="align:right"><img width="24" height="18" src="../imageBrokins/eye.png" /></a>
                    <a action="" style="align:right"><img width="24" height="18" src="../imageBrokins/doanlowd.png" /></a>
                    <a action="" style="align:right"><img width="20" height="18" src="../imageBrokins/poubelle.png" /></a>
                </td>
            </tr>
        </table>
        <br>
        <a action="" style="align:right"><img width="127" height="32" src="../imageBrokins/boutonenvoyez.png" /></a>
    </div>
</form>
