<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div>
  <div class="footer">
  </div>
  <div class="absolute16">
    <p><h4>
    BROKINS SAS <br><br>
    Capital Social 7 500 euros<br><br>
    Siege social: 79 rue de Rennes<br><br>
    75006 Paris<br>
    Tel: 21 43 27 12 43
  </h4>
    <img  src="assets/images/Copyright.png" alt="HTML tutorial" >
  </div>
  <div class="absolute18">
    <a style="color:white;" routerLink="/apropos"><h4>A Propos de Brokins</h4></a>
    <a style="color:white;" routerLink="/partenaire"><h4>Partenaires Assureurs</h4></a>
    <a style="color:white;" routerLink="/mention"><h4>Mentions Legales</h4></a>
    <a style="color:white;" routerLink="/modalite"><h4>Modalites de Paiement</h4></a>
  </div>
  <div class="absolute11">
    <a style="color:white;" routerLink="/gcu"><h4>Conditions generales d'utilisation </h4></a>
  </div>
  <div class="absolute19">
    <img  src="assets/images/facebook.png" alt="HTML tutorial" >
    <img  src="assets/images/linkdin.png" alt="HTML tutorial" >
    <img  src="assets/images/twitter.png" alt="HTML tutorial" >
    <img  src="assets/images/viadeo.png" alt="HTML tutorial" >
    <img  src="assets/images/pinterest.png" alt="HTML tutorial" ><br><br>
    <a routerLink="/parlez"><img  src="assets/images/enveloppe.png" alt="HTML tutorial" ><img  src="assets/images/Parlez.png" alt="HTML tutorial" ></a><br> <br>
    <a routerLink="/contact"><img  src="assets/images/enveloppe.png" alt="HTML tutorial" ><img  src="assets/images/Nous.png" alt="HTML tutorial" ></a>
  </div>
</div>
