<div style="background-color: white; padding:0px;width:100%;margin:0">
<table style="width:100%;text-align:center; ">
    
    <tr>
        <td width="20%">
            <img width="142" height="87" src="assets/images/brokinsloggo.png" />
        </td>
        <td width="60%">
            <h1 style="color:#94a8cd;">VOTRE COURTIER EN LIGNE INTELLIGENT</h1>
            <label style="color:#94a8cd;font-size:17px">Nous combinons expertise assurance et innovation technologique pour proposer aux Professionnels et Entreprises une solution d'achat de produits
					d'assurance plus <b>sûre</b>, plus <b>rapide</b>, plus <b>simple</b>, plus <b>économique</b>...
					et avec plus de <b>services</b></label>
        </td>
        <td width="20%">
            
        </td>
    </tr>
</table>
</div>